:host {
  .card-body {
    padding: 0;
    padding-top: 10px;
  }

  .form-inline {
    align-items: baseline;
  }

  a {
    &.diabled {
      cursor: default;
      pointer-events: none;
    }
  }

  .table-responsive {
    overflow: auto;
    max-height: calc(100% - 100px);

    table {
      min-width: 1400px;
      border-spacing: 0;
      border-collapse: separate;
    }

    thead {
      th {
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: white;
      }
    }

    tr {
      cursor: pointer;

      &.is-selected {
        background-color: lightgray;
      }
    }
  }
}
