<div class="container-fluid">
  <app-page-title
    title="Dịch vụ"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <div class="col-xl-8">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <form class="form-inline">
                <div class="form-group mb-2">
                  <label class="sr-only">Search</label>
                  <input
                    class="form-control"
                    name="search"
                    placeholder="Search..."
                    [(ngModel)]="term"
                  />
                </div>
              </form>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-right">
                <button type="button" class="btn btn-info mb-2 mr-1">
                  Import
                </button>
                <button type="button" class="btn btn-info mb-2 mr-1">
                  Export
                </button>
                <a
                  class="btn btn-success mb-2 button-link"
                  (click)="openServiceModal()"
                  ><i class="mdi mdi-plus-circle mr-1"></i> Thêm mới</a
                >
              </div>
            </div>
            <!-- end col-->
          </div>

          <div class="table-responsive">
            <table class="table table-centered table-hover mb-0">
              <thead>
                <tr>
                  <th>Kiểu dịch vụ</th>
                  <th>Tên dịch vụ</th>
                  <th>Mô tả</th>
                  <th>Giá dịch vụ</th>
                  <th>Danh mục dịch vụ</th>
                  <th style="width: 82px;">Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let service of paginatedServiceData | filter: term">
                  <td>
                    {{ service.service_type }}
                  </td>
                  <td>
                    {{ service.service_name }}
                  </td>
                  <td>
                    {{ service.description }}
                  </td>
                  <td>
                    {{ service.service_price }}
                  </td>
                  <td>
                    {{ service.service_category }}
                  </td>
                  <td>
                    <a
                      class="action-icon button-link"
                      (click)="openServiceModal(service)"
                    >
                      <i class="mdi mdi-square-edit-outline"></i
                    ></a>
                    <a
                      class="action-icon button-link"
                      (click)="openConfirmModal()"
                    >
                      <i class="mdi mdi-delete"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ul class="pagination pagination-rounded justify-content-end my-2">
            <ngb-pagination
              (pageChange)="onPageChange($event)"
              [pageSize]="pageSize"
              [(page)]="page"
              [collectionSize]="totalSize"
            ></ngb-pagination>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="card-box">
        <div class="media mb-3">
          <img
            class="d-flex mr-3 rounded-circle avatar-lg"
            src="assets/images/users/user-8.jpg"
            alt="Generic placeholder image"
          />
          <div class="media-body">
            <h4 class="mt-0 mb-1">Tên dịch vụ</h4>
            <p class="text-muted">
              Giá dịch vụ
            </p>
            <p class="text-muted">
              Kiểu dịch vụ
            </p>
          </div>
        </div>
      </div>
      <!-- end card-box-->
    </div>
  </div>
</div>
