<app-main-container [hasBottom]="false">
  <div top class="card-body" style="height: 100%;">
    <div class="row mb-1">
      <div class="col-xl-6">
        <form class="form-inline row">
          <div class="form-group">
            <input
              class="form-control"
              name="textSearch"
              placeholder="Tìm kiếm..."
              [(ngModel)]="textSearch"
              (input)="onChangeFilter()"
            />
          </div>
        </form>
      </div>
      <div class="col-xl-6">
        <div class="text-sm-right">
          <button type="button" class="btn btn-info mr-1">
            <span class="mdi mdi-cloud-upload"></span>
            Nhập
          </button>
          <button type="button" class="btn btn-info mr-1">
            <span class="mdi mdi-cloud-download"></span>
            Xuất
          </button>
          <a class="btn btn-success mr-1 button-link" (click)="openServiceModal()"
            ><i class="mdi mdi-plus-circle mr-1"></i> Thêm mới</a
          >
          <a
            class="btn btn-primary mr-1 button-link"
            [ngClass]="selectedService ? '' : 'disabled'"
            (click)="openServiceModal(selectedService)"
            ><i class="mdi mdi-square-edit-outline mr-1"></i> Cập nhật</a
          >
          <a
            class="btn btn-danger mr-1 button-link"
            [ngClass]="selectedService ? '' : 'disabled'"
            (click)="openConfirmModal(selectedService)"
            ><i class="mdi mdi-delete mr-1"></i> Xóa</a
          >
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-centered table-hover mb-0">
        <thead>
          <tr>
            <th>MDV</th>
            <th>Tên dịch vụ</th>
            <th>Kiểu dịch vụ</th>
            <th>Mô tả</th>
            <th>Giá dịch vụ</th>
            <th>Giảm giá (%)</th>
            <th>Danh mục dịch vụ</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let service of services"
            (click)="onClickService(service)"
            [ngClass]="{
              'is-selected': service.se_id === selectedService?.se_id
            }"
          >
            <td>
              {{ service.se_code }}
            </td>
            <td>
              <span
                ><img
                  class="rounded-circle avatar-sm"
                  [src]="'http://27.72.147.222:1230' + service.se_thumbnai"
                  onerror="this.src='/assets/images/users/user-1.jpg';"
                  alt="Avatar"
                  (click)="selectedService = service; file.click()"
                  style="cursor: pointer;" />
                <input
                  type="file"
                  accept="image/*"
                  #file
                  style="display: none;"
                  (change)="readURL($event)"
              /></span>
              {{ service.se_name }}
            </td>
            <td>
              {{ service.se_type_name }}
            </td>
            <td>
              {{ service.se_description }}
            </td>
            <td>
              {{ service.se_price }}
            </td>
            <th>{{ service.se_saleoff }}</th>
            <td>
              {{ service.service_category_name }}
            </td>
          </tr>
          <tr *ngIf="services?.length === 0">
            <td colspan="6">Không có dữ liệu dịch vụ</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ul class="pagination pagination-rounded justify-content-end my-3">
      <ngb-pagination
        (pageChange)="onPageChange($event)"
        [pageSize]="pageSize"
        [(page)]="page"
        [collectionSize]="totalSize"
      ></ngb-pagination>
    </ul>
  </div>
</app-main-container>
