<div class="modal-header bg-dark">
  <h4 class="modal-title text-white">Mẫu SMS</h4>
  <button class="close text-white" aria-label="Close" (click)="onClickCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-3">
  <div>
    Tên mẫu: <b>{{ template.smt_title }}</b>
  </div>
  <div>
    Nội dung:
  </div>
  <pre>
    {{ template.smt_content }}
  </pre>
  <div class="text-right mt-3">
    <button class="btn btn-danger ml-1" (click)="onClickCancel()">
      Đóng
    </button>
  </div>
</div>
