<div class="row justify-content-end">
  <a
    class="btn btn-success mb-1 mr-1 button-link"
    [ngClass]="customerId ? '' : 'disabled'"
    (click)="openAddressModal()"
    ><i class="mdi mdi-plus-circle mr-1"></i> Thêm mới</a
  >
  <a
    class="btn btn-primary mb-1 mr-1 button-link"
    [ngClass]="selectedAddress ? '' : 'disabled'"
    (click)="openAddressModal(selectedAddress)"
    ><i class="mdi mdi-square-edit-outline mr-1"></i> Cập nhật</a
  >
  <a
    class="btn btn-danger mb-1 button-link"
    [ngClass]="selectedAddress ? '' : 'disabled'"
    (click)="openConfirmModal(selectedAddress)"
    ><i class="mdi mdi-delete mr-1"></i> Xóa</a
  >
</div>
<div class="table-responsive">
  <table class="table table-centered table-hover mb-0">
    <thead>
      <tr>
        <th>Thành phố</th>
        <th>Quận/Huyện</th>
        <th>Phường/Xã</th>
        <th>Chi tiết</th>
        <th>Ghi chú</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let address of listAddress"
        (click)="onClickAddress(address)"
        [ngClass]="{
          'is-selected': address.sha_id === selectedAddress?.sha_id
        }"
      >
        <td>
          {{ address.sha_province }}
        </td>
        <td>
          {{ address.sha_district }}
        </td>
        <td>
          {{ address.sha_ward }}
        </td>
        <td>
          {{ address.sha_detail }}
        </td>
        <td>
          {{ address.sha_note }}
        </td>
      </tr>
      <tr *ngIf="!listAddress || listAddress.length === 0">
        <td colspan="6">Không có dữ liệu địa chỉ</td>
      </tr>
    </tbody>
  </table>
</div>
