<div class="form-row p-2">
  <div class="form-group row">
    <label class="col-2 col-form-label">Tỉnh/Thành phố: </label>
    <div class="col-4">
      <input class="form-control" [value]="permanent_province" readonly />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 ol-form-label">Quận/Huyện: </label>
    <div class="col-4">
      <input class="form-control" [value]="permanent_district" readonly />
    </div>
  </div>
</div>
<div class="form-row p-2">
  <div class="form-group row">
    <label class="col-2 col-form-label">Xã/Phường: </label>
    <div class="col-4">
      <input class="form-control" [value]="permanent_ward" readonly />
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Địa chỉ: </label>
    <div class="col-4">
      <input class="form-control" [value]="permanent_detail" readonly />
    </div>
  </div>
</div>
