:host {
  .form-inline {
    align-items: baseline;
    flex-flow: row;
  }

  a {
    &.diabled {
      cursor: default;
      pointer-events: none;
    }
  }

  .table-responsive {
    overflow: auto;
    max-height: calc(100% - 150px);

    table {
      min-width: 1400px;
      border-spacing: 0;
      border-collapse: separate;
    }

    thead {
      th {
        position: sticky;
        top: 0;
        z-index: 2;
        background-color: white;
      }
    }

    tr {
      cursor: pointer;

      &.is-selected {
        background-color: lightgray;
      }
    }
  }

  .clearable {
    position: relative;
    display: inline-block;
  }
  .clearable input[type='text'] {
    padding-right: 24px;
    width: 100%;
    box-sizing: border-box;
  }
  .clearable__clear {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 8px;
    font-style: normal;
    font-size: 1.2em;
    user-select: none;
    cursor: pointer;
  }
  .clearable input::-ms-clear {
    /* Remove IE default X */
    display: none;
  }
}
