<app-main-container [hasBottom]="false">
  <div top class="card-body" style="height: 100%;">
    <div class="row mb-1">
      <div class="col-xl-7">
        <form class="form-inline">
          <div class="form-group mr-1 ml-1">
            <input
              class="form-control"
              name="textSearch"
              placeholder="Tìm kiếm..."
              [(ngModel)]="textSearch"
              (input)="onChangeFilter()"
            />
          </div>

          <select
            class="custom-select mr-1"
            name="category"
            [(ngModel)]="paymentMethodSearch"
            (change)="onChangeFilter()"
          >
            <option value="">Phương thức thanh toán</option>
            <option *ngFor="let item of paymentMethods" [value]="item.id">{{ item.name }}</option>
          </select>
          <div class="input-group clockpicker mr-1">
            <input
              ngbDatepicker
              readonly="true"
              class="form-control"
              placeholder="yyyy-mm-dd"
              #from="ngbDatepicker"
              name="from"
              [maxDate]="toDate"
              [(ngModel)]="fromDate"
              (dateSelect)="onChangeFilter()"
            />
            <div class="input-group-append" (click)="from.toggle()">
              <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
            </div>
          </div>
          <div class="input-group clockpicker">
            <input
              ngbDatepicker
              readonly="true"
              class="form-control"
              placeholder="yyyy-mm-dd"
              #to="ngbDatepicker"
              name="to"
              [minDate]="fromDate"
              [(ngModel)]="toDate"
              (dateSelect)="onChangeFilter()"
            />
            <div class="input-group-append" (click)="to.toggle()">
              <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
            </div>
          </div>
        </form>
      </div>
      <div class="col-xl-5">
        <div class="text-sm-right">
          <button type="button" class="btn btn-info mr-1">
            Nhập
          </button>
          <button type="button" class="btn btn-info mr-1" (click)="exportOrder()">
            Xuất
          </button>
          <a class="btn btn-success mr-1 button-link" (click)="onRouteDetail()"> Thêm mới</a>
          <a
            class="btn btn-primary mr-1 button-link"
            [ngClass]="selectedOrder ? '' : 'disabled'"
            (click)="onRouteDetail(selectedOrder)"
          >
            Xem & Sửa</a
          >
          <a
            class="btn btn-danger mr-1 button-link"
            [ngClass]="selectedOrder ? '' : 'disabled'"
            (click)="openConfirmModal(selectedOrder)"
          >
            Xóa</a
          >
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-centered table-hover mb-0">
        <thead>
          <tr>
            <th>MĐH</th>
            <th>Ngày đặt hàng</th>
            <th>Trạng thái thanh toán</th>
            <th>Tổng tiền</th>
            <th>Phương thức thanh toán</th>
            <th>Tình trạng đơn hàng</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let order of orders"
            (click)="onClickOrder(order)"
            [ngClass]="{
              'is-selected': order.cuo_id === selectedOrder?.cuo_id
            }"
          >
            <td>
              {{ order.cuo_code }}
            </td>
            <td>
              {{ order.cuo_date | date: 'dd/MM/yyyy' }}
            </td>
            <td>
              {{ order.cuo_payment_status }}
            </td>
            <td>
              {{ order.cuo_total_price }}
            </td>
            <td>
              {{ order.cuo_payment_type }}
            </td>
            <td>
              <select
                class="custom-select"
                [(ngModel)]="order.cuo_status"
                (change)="onChangeStatus($event, order)"
              >
                <option value="null">Trạng thái đơn hàng</option>
                <option *ngFor="let status of orderStatus" [value]="status.id">{{
                  status.name
                }}</option>
              </select>
            </td>
          </tr>
          <tr *ngIf="orders?.length === 0">
            <td colspan="6">Không có dữ liệu đơn hàng</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ul class="pagination pagination-rounded justify-content-end my-3">
      <ngb-pagination
        (pageChange)="onPageChange($event)"
        [pageSize]="pageSize"
        [(page)]="page"
        [collectionSize]="totalSize"
      ></ngb-pagination>
    </ul>
  </div>
</app-main-container>
