<div class="table-responsive" *ngIf="!selectedOrder">
  <table class="table table-centered table-hover mb-0">
    <thead>
      <tr>
        <th>Thời gian</th>
        <th>Mã đơn hàng</th>
        <th>Người tạo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of listCustomerOrder">
        <td>
          {{ order.cuo_date | date: 'dd/MM/yyyy' }}
        </td>
        <td class="order-container" (click)="onClickOrder(order)">
          {{ order.cuo_code }}
        </td>
        <td>
          {{ order.staff_name }}
        </td>
      </tr>
      <tr *ngIf="!listCustomerOrder || listCustomerOrder?.length === 0">
        <td colspan="3">Không có dữ liệu giao dịch</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="selectedOrder" style="height: calc(100% - 45px);">
  <div (click)="onClickBack()" class="back-container mb-2">
    <i class="mdi mdi-arrow-left-bold mr-1"></i>
    Chi tiết dịch vụ
  </div>
  <div class="row justify-content-between mb-2">
    <span>Mã dịch vụ: {{ selectedOrder?.cuo_code }}</span>
    <span>Người tạo: {{ selectedOrder?.staff_name }}</span>
    <span>Ngày sử dụng: {{ selectedOrder?.cuo_date | date: 'dd/MM/yyyy' }}</span>
  </div>
  <div class="table-responsive" style="height: calc(100% - 70px);">
    <table class="table table-centered table-hover mb-0">
      <thead>
        <tr>
          <th>STT</th>
          <th>Mã dịch vụ</th>
          <th>Tên dịch vụ</th>
          <th>Loại dịch vụ</th>
          <th>Giá</th>
          <th>Giảm giá (%)</th>
          <th>Ghi chú</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let service of selectedOrder?.list_service_history; let i = index">
          <td>
            {{ i + 1 }}
          </td>
          <td>
            {{ service.se_code }}
          </td>
          <td>
            {{ service.se_name }}
          </td>
          <td>
            {{ service.se_type_name }}
          </td>
          <td>{{ service.se_price }}</td>
          <td>{{ service.se_saleoff }}</td>
          <td>
            {{ service.se_note }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
