<div class="table-responsive">
  <table class="table table-centered table-hover mb-0">
    <thead>
      <tr>
        <th>Thời gian</th>
        <th>Số đơn hàng</th>
        <th>Số lượng</th>
        <th>Đơn vị</th>
        <th>Khách hàng</th>
        <th>Người tạo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ph of purchaseHistory">
        <td>
          {{ ph.cuo_date | date: 'dd/MM/yyyy' }}
        </td>
        <td>
          {{ ph.cuo_code }}
        </td>
        <td>
          {{ ph.op_quantity }}
        </td>
        <td>
          {{ ph.pu_unit_name }}
        </td>
        <td>
          {{ ph.cu_fullname }}
        </td>
        <td>
          {{ ph.sta_fullname }}
        </td>
      </tr>
      <tr *ngIf="!purchaseHistory || purchaseHistory?.length === 0">
        <td colspan="4">Không có dữ liệu giao dịch</td>
      </tr>
    </tbody>
  </table>
</div>
