<app-main-container [hasBottom]="false">
  <div top class="card-body" style="height: 100%;">
    <div class="staff-detail">
      <div class="menu">
        <div
          class="item"
          *ngFor="let item of menu; let i = index"
          [ngClass]="{
            'is-selected': i === selectedMenuItem
          }"
          (click)="onClickMenuItem(i)"
        >
          {{ item }}
        </div>
      </div>
      <div class="main">
        <div class="content mb-2" id="content">
          <div id="0" class="row title-section">
            <h5>Loại hợp đồng</h5>
            <i class="fe-edit ml-2"></i>
          </div>
          <div [formGroup]="formContractType">
            <div class="row p-2 justify-content-center">
              <div class="radio radio-info form-check-inline mr-5">
                <input
                  type="radio"
                  id="inlineRadio1"
                  [value]="0"
                  name="sta_type_contact"
                  formControlName="sta_type_contact"
                  [readonly]="isView"
                />
                <label for="inlineRadio1"> Fulltime </label>
              </div>
              <div class="radio form-check-inline">
                <input
                  type="radio"
                  id="inlineRadio2"
                  [value]="1"
                  name="sta_type_contact"
                  formControlName="sta_type_contact"
                  [readonly]="isView"
                />
                <label for="inlineRadio2"> Parttime </label>
              </div>
            </div>
            <div
              class="row form-inline mb-2 justify-content-center"
              *ngIf="formContractType.value.sta_type_contact === 1"
            >
              <div>Thời gian làm việc:</div>
              <select class="custom-select mr-2 ml-2" formControlName="sw_time_start">
                <option *ngFor="let time of timePeriod" [disabled]="isView" [value]="time">{{
                  time
                }}</option>
              </select>
              <div>-</div>
              <select class="custom-select ml-2" formControlName="sw_time_end">
                <option *ngFor="let time of timePeriod" [disabled]="isView" [value]="time">{{
                  time
                }}</option>
              </select>
            </div>
            <div
              class="row mb-2 ml-2 justify-content-center"
              *ngIf="formContractType.value.sta_type_contact === 1"
            >
              <div
                class="checkbox checkbox-success form-check-inline mr-4"
                style="line-height: 2;"
                *ngFor="let day of days"
              >
                <input
                  type="checkbox"
                  (change)="onCheckDay(day)"
                  [disabled]="isView"
                  [checked]="checkDay(day) === 1"
                />
                <label> {{ day }} </label>
              </div>
            </div>
          </div>

          <div id="1" class="row title-section">
            <h5>Thông tin chung</h5>
            <i class="fe-edit ml-2"></i>
          </div>
          <div [formGroup]="formProfile">
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Họ và tên <span>(*)</span></label>
                <div class="col-6">
                  <input
                    class="form-control"
                    [readonly]="readOnly"
                    formControlName="sta_fullname"
                  />
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Tên đăng nhập <span>(*)</span></label>
                <div class="col-6">
                  <input
                    class="form-control"
                    [readonly]="readOnly"
                    formControlName="sta_username"
                  />
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Nhóm quyền <span>(*)</span></label>
                <div class="col-6">
                  <select class="custom-select" formControlName="group_role_id">
                    <option [disabled]="isView" *ngFor="let role of roles" [value]="role.id">{{
                      role.name
                    }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Chức vụ <span>(*)</span></label>
                <div class="col-6">
                  <select class="custom-select" formControlName="position_id">
                    <option [disabled]="isView" *ngFor="let pos of positions" [value]="pos.id">{{
                      pos.name
                    }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Trạng thái <span>(*)</span></label>
                <div class="col-6">
                  <select class="custom-select" formControlName="sta_status">
                    <option [disabled]="isView" [value]="1">Kích hoạt</option>
                    <option [disabled]="isView" [value]="2">Khóa</option>
                  </select>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Phòng ban</label>
                <div class="col-6">
                  <select class="custom-select" formControlName="department_id">
                    <option [disabled]="isView" *ngFor="let dep of departments" [value]="dep.id">{{
                      dep.name
                    }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Giới tính</label>
                <div class="col-6">
                  <select class="custom-select" formControlName="sta_sex">
                    <option [disabled]="isView" [value]="1">Nam</option>
                    <option [disabled]="isView" [value]="2">Nữ</option>
                    <option [disabled]="isView" [value]="3">Giới tính khác</option>
                  </select>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Phương tiện đi lại</label>
                <div class="col-6">
                  <input class="form-control" [readonly]="readOnly" formControlName="sta_traffic" />
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Ngày bắt đầu làm việc</label>
                <div class="col-6">
                  <div class="input-group clockpicker mb-2 mr-1">
                    <input
                      ngbDatepicker
                      readonly="true"
                      class="form-control"
                      placeholder="Chọn ngày"
                      #start_work="ngbDatepicker"
                      formControlName="sta_start_work_date"
                      [disabled]="isView"
                    />
                    <div class="input-group-append" (click)="start_work.toggle()">
                      <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Ngày sinh</label>
                <div class="col-6">
                  <div class="input-group clockpicker mb-2 mr-1">
                    <input
                      ngbDatepicker
                      readonly="true"
                      class="form-control"
                      placeholder="Chọn ngày"
                      #dob="ngbDatepicker"
                      formControlName="sta_birthday"
                      [disabled]="isView"
                    />
                    <div class="input-group-append" (click)="dob.toggle()">
                      <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Lương <span>(*)</span></label>
                <div class="col-6 form-inline">
                  <input
                    class="form-control"
                    id="example-number"
                    type="number"
                    [readonly]="readOnly"
                    formControlName="sta_salary_to"
                    style="width: 100%;"
                  />
                  <div class="ml-2 mr-2">-</div>
                  <input
                    class="form-control"
                    id="example-number"
                    type="number"
                    [readonly]="readOnly"
                    formControlName="sta_salary_end"
                    style="width: 100%;"
                  />
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Trạng thái làm việc <span>(*)</span></label>
                <div class="col-6">
                  <select class="custom-select" formControlName="sta_working_status">
                    <option [disabled]="isView" [value]="1">Đang làm việc</option>
                    <option [disabled]="isView" [value]="2">Nghỉ việc</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Mã số thuế</label>
                <div class="col-6">
                  <input
                    class="form-control"
                    [readonly]="readOnly"
                    formControlName="sta_tax_code"
                  />
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Ngày nghỉ việc</label>
                <div class="col-6">
                  <div class="input-group clockpicker mb-2 mr-1">
                    <input
                      ngbDatepicker
                      readonly="true"
                      class="form-control"
                      placeholder="Chọn ngày"
                      #end_work="ngbDatepicker"
                      formControlName="sta_end_work_date"
                      [disabled]="isView"
                    />
                    <div class="input-group-append" (click)="end_work.toggle()">
                      <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Lí do nghỉ việc</label>
                <div class="col-6">
                  <input
                    class="form-control"
                    [readonly]="readOnly"
                    formControlName="sta_reason_to_end_work"
                  />
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Ghi chú</label>
                <div class="col-6">
                  <input class="form-control" [readonly]="readOnly" formControlName="sta_note" />
                </div>
              </div>
            </div>
          </div>

          <div id="2" class="row title-section">
            <h5>Thông tin liên hệ</h5>
            <i class="fe-edit ml-2"></i>
          </div>
          <div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Số điện thoại <span>(*)</span></label>
                <div class="col-6">
                  <input class="form-control" />
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Email <span>(*)</span></label>
                <div class="col-6">
                  <input class="form-control" />
                </div>
              </div>
            </div>
          </div>

          <div id="3" class="row title-section">
            <h5>Số CMND/Thẻ căn cước</h5>
            <i class="fe-edit ml-2"></i>
          </div>
          <div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Số CMND/Thẻ căn cước</label>
                <div class="col-6">
                  <input class="form-control" />
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Ngày cấp</label>
                <div class="col-6">
                  <input class="form-control" />
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Nơi cấp</label>
                <div class="col-6">
                  <input class="form-control" />
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Ngày hết hạn</label>
                <div class="col-6">
                  <input class="form-control" />
                </div>
              </div>
            </div>
          </div>

          <div id="4" class="row title-section">
            <h5>Hộ khẩu thường trú</h5>
            <i class="fe-edit ml-2"></i>
          </div>
          <div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Tỉnh/Thành phố <span>(*)</span></label>
                <div class="col-6">
                  <input class="form-control" />
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Quận/Huyện <span>(*)</span></label>
                <div class="col-6">
                  <input class="form-control" />
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Xã/Phường <span>(*)</span></label>
                <div class="col-6">
                  <input class="form-control" />
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Địa chỉ <span>(*)</span></label>
                <div class="col-6">
                  <input class="form-control" />
                </div>
              </div>
            </div>
          </div>

          <div id="5" class="row title-section">
            <h5>Chỗ ở hiện tại</h5>
            <i class="fe-edit ml-2"></i>
          </div>
          <div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Tỉnh/Thành phố <span>(*)</span></label>
                <div class="col-6">
                  <input class="form-control" />
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Quận/Huyện <span>(*)</span></label>
                <div class="col-6">
                  <input class="form-control" />
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Xã/Phường <span>(*)</span></label>
                <div class="col-6">
                  <input class="form-control" />
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Địa chỉ <span>(*)</span></label>
                <div class="col-6">
                  <input class="form-control" />
                </div>
              </div>
            </div>
          </div>

          <div id="6" class="row title-section">
            <h5>Thông tin đào tạo</h5>
            <a class="btn btn-primary btn-xs ml-2 button-link">Thêm mới</a>
            <i class="fe-edit ml-2"></i>
          </div>
          <div class="table-responsive border mb-2">
            <table class="table table-centered table-hover mb-0">
              <thead>
                <tr>
                  <th>Mã đào tạo</th>
                  <th>Tên CTĐT</th>
                  <th>Nội dung đào tạo</th>
                  <th>Thời gian bắt đầu</th>
                  <th>Thời gian kết thúc</th>
                  <th *ngIf="!isView">Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let service of listService">
                  <td>
                    {{ service.se_code }}
                  </td>
                  <td>{{ service.se_name }}</td>
                  <td>
                    {{ service.se_price }}
                  </td>
                  <td>{{ service.service_category_name }}</td>
                  <td>{{ service.se_note }}</td>
                  <td *ngIf="!isView">
                    <a class="action-icon table-button-link"> <i class="mdi mdi-delete"></i></a>
                  </td>
                </tr>
                <tr *ngIf="!listService || listService.length === 0">
                  <td colspan="6">Không có dữ liệu dịch vụ</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div id="7" class="row title-section">
            <h5>Địa chỉ phụ trách</h5>
            <a class="btn btn-primary btn-xs ml-2 button-link">Thêm mới</a>
            <i class="fe-edit ml-2"></i>
          </div>
          <div class="table-responsive border mb-2">
            <table class="table table-centered table-hover mb-0">
              <thead>
                <tr>
                  <th>Thành phố</th>
                  <th>Quận/Huyện</th>
                  <th>Phường/Xã</th>
                  <th>Địa chỉ</th>
                  <th>Ghi chú</th>
                  <th *ngIf="!isView">Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let service of listService">
                  <td>
                    {{ service.se_code }}
                  </td>
                  <td>{{ service.se_name }}</td>
                  <td>
                    {{ service.se_price }}
                  </td>
                  <td>{{ service.service_category_name }}</td>
                  <td>{{ service.se_note }}</td>
                  <td *ngIf="!isView">
                    <a class="action-icon table-button-link"> <i class="mdi mdi-delete"></i></a>
                  </td>
                </tr>
                <tr *ngIf="!listService || listService.length === 0">
                  <td colspan="6">Không có dữ liệu dịch vụ</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="text-sm-right">
            <a class="btn btn-success mb-2 mr-1 button-link" (click)="onSubmit()">Lưu lại</a>
            <a class="btn btn-danger mb-2 mr-1 button-link">{{ isView ? 'Quay lại' : 'Hủy bỏ' }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-main-container>
