<app-main-container [hasBottom]="false">
  <div top class="card-body pb-2" style="height: 100%;">
    <div class="staff-detail">
      <div class="menu">
        <div
          class="item"
          *ngFor="let item of menu; let i = index"
          [ngClass]="{
            'is-selected': i === selectedMenuItem
          }"
          (click)="onClickMenuItem(i)"
        >
          {{ item }}
        </div>
      </div>
      <div class="main">
        <div class="content mb-2" id="content">
          <div id="0" class="row title-section">
            <h5>{{ menu[0] }}</h5>
            <i
              [ngClass]="listView[0] ? 'fe-edit ml-2' : 'fe-save ml-2'"
              (click)="switchViewType(0)"
            ></i>
          </div>
          <div [formGroup]="formContractType">
            <div class="row justify-content-center mb-2" *ngIf="listView[0]">
              <div class="radio radio-info form-check-inline mr-5">
                <input
                  type="radio"
                  id="inlineRadio1"
                  [value]="0"
                  name="sta_type_contact"
                  formControlName="sta_type_contact"
                  disabled
                />
                <label for="inlineRadio1"> Fulltime </label>
              </div>
              <div class="radio form-check-inline">
                <input
                  type="radio"
                  id="inlineRadio2"
                  [value]="1"
                  name="sta_type_contact"
                  formControlName="sta_type_contact"
                  disabled
                />
                <label for="inlineRadio2"> Parttime </label>
              </div>
            </div>
            <div class="row justify-content-center mb-2" *ngIf="!listView[0]">
              <div class="radio radio-info form-check-inline mr-5">
                <input
                  type="radio"
                  id="inlineRadio1"
                  [value]="0"
                  name="sta_type_contact"
                  formControlName="sta_type_contact"
                />
                <label for="inlineRadio1"> Fulltime </label>
              </div>
              <div class="radio form-check-inline">
                <input
                  type="radio"
                  id="inlineRadio2"
                  [value]="1"
                  name="sta_type_contact"
                  formControlName="sta_type_contact"
                />
                <label for="inlineRadio2"> Parttime </label>
              </div>
            </div>
            <div class="row" *ngIf="formContractType.value.sta_type_contact === 1">
              <div
                *ngFor="let day of days; let i = index"
                class="col-6 d-flex"
                [ngClass]="i % 2 === 0 ? 'justify-content-end pr-4' : 'justify-content-start pl-4'"
              >
                <div
                  class="checkbox checkbox-success mb-2"
                  style="line-height: 2; width: 100px;"
                  [ngClass]="i % 2 === 0 && listWorkTime[i].length === 0 ? 'pr-300' : ''"
                >
                  <input
                    [id]="day"
                    type="checkbox"
                    (change)="onCheckDay(i)"
                    [disabled]="listView[0]"
                    [checked]="listWorkTime[i].length !== 0"
                  />
                  <label [for]="day">
                    {{ day }}
                  </label>
                </div>
                <div style="line-height: 2;" *ngIf="listWorkTime[i].length !== 0">
                  Thời gian làm việc:
                </div>
                <div class="time-container">
                  <div
                    class="form-inline mb-2 justify-content-center"
                    *ngFor="let time of listWorkTime[i]; let timeIndex = index"
                  >
                    <select
                      class="custom-select mr-2 ml-2"
                      [value]="time.sw_time_start"
                      (change)="onChangeStart(i, timeIndex, $event)"
                    >
                      <option
                        *ngFor="let time of timePeriod"
                        [disabled]="listView[0]"
                        [value]="time"
                        >{{ time }}</option
                      >
                    </select>
                    <div>-</div>
                    <select
                      class="custom-select ml-2"
                      [value]="time.sw_time_end"
                      (change)="onChangeEnd(i, timeIndex, $event)"
                    >
                      <option
                        *ngFor="let time of timePeriod"
                        [disabled]="listView[0]"
                        [value]="time"
                        >{{ time }}</option
                      >
                    </select>
                    <div class="ml-2" *ngIf="!listView[0]">
                      <i
                        class="fe-minus-circle"
                        style="font-size: large; cursor: pointer;"
                        (click)="onClickMinus(i, timeIndex)"
                      ></i>
                    </div>
                  </div>
                  <div
                    class="row justify-content-center mb-2"
                    *ngIf="!listView[0] && listWorkTime[i].length !== 0"
                  >
                    <i
                      class="fe-plus-circle"
                      style="font-size: large; cursor: pointer;"
                      (click)="onClickPlus(i)"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="1" class="row title-section">
            <h5>{{ menu[1] }}</h5>
            <i
              [ngClass]="listView[1] ? 'fe-edit ml-2' : 'fe-save ml-2'"
              (click)="switchViewType(1)"
            ></i>
          </div>
          <div [formGroup]="formProfile">
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Họ và tên <span>(*)</span></label>
                <div class="col-6">
                  <input
                    class="form-control"
                    [readonly]="listView[1]"
                    formControlName="sta_fullname"
                    [ngClass]="{
                      'is-invalid': submitted && formProfile.controls.sta_fullname.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && formProfile.controls.sta_fullname.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="formProfile.controls.sta_fullname.errors.required"
                      >Trường bắt buộc</span
                    >
                  </div>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Tên đăng nhập <span>(*)</span></label>
                <div class="col-6">
                  <input
                    class="form-control"
                    [readonly]="sta_id !== ''"
                    formControlName="sta_username"
                    [ngClass]="{
                      'is-invalid':
                        submitted &&
                        (formProfile.controls.sta_username.errors || errorField === 'sta_username')
                    }"
                  />
                  <div
                    *ngIf="submitted && formProfile.controls.sta_username.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="formProfile.controls.sta_username.errors.required"
                      >Trường bắt buộc</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Nhóm quyền <span>(*)</span></label>
                <div class="col-6">
                  <select
                    class="custom-select"
                    formControlName="group_role_id"
                    [ngClass]="{
                      'is-invalid': submitted && formProfile.controls.group_role_id.errors
                    }"
                  >
                    <option [disabled]="listView[1]" *ngFor="let role of roles" [value]="role.id">{{
                      role.name
                    }}</option>
                  </select>
                  <div
                    *ngIf="submitted && formProfile.controls.group_role_id.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="formProfile.controls.group_role_id.errors.required"
                      >Trường bắt buộc</span
                    >
                  </div>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Chức vụ <span>(*)</span></label>
                <div class="col-6">
                  <select
                    class="custom-select"
                    formControlName="position_id"
                    [ngClass]="{
                      'is-invalid': submitted && formProfile.controls.position_id.errors
                    }"
                  >
                    <option
                      [disabled]="listView[1]"
                      *ngFor="let pos of positions"
                      [value]="pos.id"
                      >{{ pos.name }}</option
                    >
                  </select>
                  <div
                    *ngIf="submitted && formProfile.controls.position_id.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="formProfile.controls.position_id.errors.required"
                      >Trường bắt buộc</span
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Trạng thái <span>(*)</span></label>
                <div class="col-6">
                  <select
                    class="custom-select"
                    formControlName="sta_status"
                    [ngClass]="{
                      'is-invalid': submitted && formProfile.controls.sta_status.errors
                    }"
                  >
                    <option [disabled]="listView[1]" [value]="1">Kích hoạt</option>
                    <option [disabled]="listView[1]" [value]="2">Khóa</option>
                  </select>
                  <div
                    *ngIf="submitted && submitted && formProfile.controls.sta_status.errors"
                    class="invalid-feedback"
                  >
                    <span>Trường bắt buộc</span>
                  </div>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label"
                  >Phòng ban
                  <span *ngIf="formContractType.value.sta_type_contact === 0">(*)</span></label
                >
                <div class="col-6">
                  <select
                    class="custom-select"
                    formControlName="department_id"
                    [ngClass]="{
                      'is-invalid':
                        submitted &&
                        formContractType.value.sta_type_contact === 0 &&
                        formProfile.value.department_id === null
                    }"
                  >
                    <option
                      [disabled]="listView[1]"
                      *ngFor="let dep of departments"
                      [value]="dep.id"
                      >{{ dep.name }}</option
                    >
                  </select>
                  <div
                    *ngIf="
                      submitted &&
                      formContractType.value.sta_type_contact === 0 &&
                      formProfile.value.department_id === null
                    "
                    class="invalid-feedback"
                  >
                    <span>Trường bắt buộc</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Giới tính <span>(*)</span></label>
                <div class="col-6">
                  <select
                    class="custom-select"
                    formControlName="sta_sex"
                    [ngClass]="{
                      'is-invalid': submitted && formProfile.controls.sta_sex.errors
                    }"
                  >
                    <option [disabled]="listView[1]" [value]="1">Nam</option>
                    <option [disabled]="listView[1]" [value]="2">Nữ</option>
                    <option [disabled]="listView[1]" [value]="3">Giới tính khác</option>
                  </select>
                  <div
                    *ngIf="submitted && formProfile.controls.sta_sex.errors"
                    class="invalid-feedback"
                  >
                    <span>Trường bắt buộc</span>
                  </div>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Phương tiện đi lại</label>
                <div class="col-6">
                  <input
                    class="form-control"
                    [readonly]="listView[1]"
                    formControlName="sta_traffic"
                  />
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Ngày bắt đầu làm việc</label>
                <div class="col-6">
                  <div class="input-group clockpicker mb-2 mr-1">
                    <input
                      ngbDatepicker
                      readonly="true"
                      class="form-control"
                      placeholder="Chọn ngày"
                      #start_work="ngbDatepicker"
                      formControlName="sta_start_work_date"
                      [minDate]="formProfile.value.sta_birthday"
                      [maxDate]="formProfile.value.sta_end_work_date"
                      [disabled]="listView[1]"
                    />
                    <div class="input-group-append" (click)="start_work.toggle()">
                      <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Ngày sinh</label>
                <div class="col-6">
                  <div class="input-group clockpicker mb-2 mr-1">
                    <input
                      ngbDatepicker
                      readonly="true"
                      class="form-control"
                      placeholder="Chọn ngày"
                      #dob="ngbDatepicker"
                      formControlName="sta_birthday"
                      [disabled]="listView[1]"
                      [maxDate]="formProfile.value.sta_start_work_date"
                    />
                    <div class="input-group-append" (click)="dob.toggle()">
                      <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Lương <span>(*)</span></label>
                <div class="col-6">
                  <input
                    class="form-control"
                    id="example-number"
                    type="number"
                    [readonly]="listView[1]"
                    formControlName="sta_salary"
                    style="width: 100%;"
                    [ngClass]="{
                      'is-invalid': submitted && formProfile.controls.sta_salary.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && formProfile.controls.sta_salary.errors"
                    class="invalid-feedback"
                  >
                    <span>Trường bắt buộc</span>
                  </div>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Trạng thái làm việc <span>(*)</span></label>
                <div class="col-6">
                  <select
                    class="custom-select"
                    formControlName="sta_working_status"
                    (change)="onChangeWorkStatus($event)"
                    [ngClass]="{
                      'is-invalid': submitted && formProfile.controls.sta_working_status.errors
                    }"
                  >
                    <option [disabled]="listView[1]" [value]="1">Đang làm việc</option>
                    <option [disabled]="listView[1]" [value]="2">Nghỉ việc</option>
                  </select>
                  <div
                    *ngIf="submitted && formProfile.controls.sta_working_status.errors"
                    class="invalid-feedback"
                  >
                    <span>Trường bắt buộc</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label"
                  >Ngày nghỉ việc
                  <span *ngIf="formProfile.value.sta_working_status === '2'">(*)</span></label
                >
                <div class="col-6">
                  <div class="input-group clockpicker mb-2 mr-1">
                    <input
                      ngbDatepicker
                      readonly="true"
                      class="form-control"
                      placeholder="Chọn ngày"
                      #end_work="ngbDatepicker"
                      formControlName="sta_end_work_date"
                      [minDate]="formProfile.value.sta_start_work_date"
                      [disabled]="listView[1]"
                      [ngClass]="{
                        'is-invalid':
                          submitted &&
                          formProfile.value.sta_working_status === '2' &&
                          formProfile.value.sta_end_work_date === null
                      }"
                    />
                    <div class="input-group-append" (click)="end_work.toggle()">
                      <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                    </div>
                    <div
                      *ngIf="
                        submitted &&
                        formProfile.value.sta_working_status === '2' &&
                        formProfile.value.sta_end_work_date === null
                      "
                      class="invalid-feedback"
                    >
                      <span>Trường bắt buộc</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label"
                  >Lí do nghỉ việc
                  <span *ngIf="formProfile.value.sta_working_status === '2'">(*)</span></label
                >
                <div class="col-6">
                  <input
                    class="form-control"
                    [readonly]="listView[1]"
                    formControlName="sta_reason_to_end_work"
                    [ngClass]="{
                      'is-invalid':
                        submitted &&
                        formProfile.value.sta_working_status === '2' &&
                        (!formProfile.value.sta_reason_to_end_work ||
                          formProfile.value.sta_reason_to_end_work.trim() === '')
                    }"
                  />
                  <div
                    *ngIf="
                      submitted &&
                      formProfile.value.sta_working_status === '2' &&
                      (!formProfile.value.sta_reason_to_end_work ||
                        formProfile.value.sta_reason_to_end_work.trim() === '')
                    "
                    class="invalid-feedback"
                  >
                    <span>Trường bắt buộc</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Bảo hiểm y tế</label>
                <div class="col-6">
                  <input
                    class="form-control"
                    [readonly]="listView[1]"
                    formControlName="sta_social_insurance"
                  />
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Bảo hiểm xã hội</label>
                <div class="col-6">
                  <input
                    class="form-control"
                    [readonly]="listView[1]"
                    formControlName="sta_health_card"
                  />
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Mã số thuế</label>
                <div class="col-6">
                  <input
                    class="form-control"
                    [readonly]="listView[1]"
                    formControlName="sta_tax_code"
                  />
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Ghi chú</label>
                <div class="col-6">
                  <input class="form-control" [readonly]="listView[1]" formControlName="sta_note" />
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Mã nhân viên <span>(*)</span></label>
                <div class="col-6">
                  <input
                    class="form-control"
                    [readonly]="listView[1]"
                    formControlName="sta_code"
                    [ngClass]="{
                      'is-invalid': submitted && formProfile.controls.sta_code.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && formProfile.controls.sta_code.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="formProfile.controls.sta_code.errors.required"
                      >Trường bắt buộc</span
                    >
                  </div>
                </div>
              </div>
              <div class="form-group row mb-3"></div>
            </div>
          </div>

          <div id="2" class="row title-section">
            <h5>{{ menu[2] }}</h5>
            <i
              [ngClass]="listView[2] ? 'fe-edit ml-2' : 'fe-save ml-2'"
              (click)="switchViewType(2)"
            ></i>
          </div>
          <div [formGroup]="formContact">
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Số điện thoại <span>(*)</span></label>
                <div class="col-6">
                  <input
                    class="form-control"
                    [readonly]="listView[2]"
                    formControlName="sta_mobile"
                    [ngClass]="{
                      'is-invalid':
                        submitted &&
                        (formContact.controls.sta_mobile.errors || errorField === 'sta_mobile')
                    }"
                  />
                  <div
                    *ngIf="submitted && formContact.controls.sta_mobile.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="formContact.controls.sta_mobile.errors.required"
                      >Trường bắt buộc</span
                    >
                    <span *ngIf="formContact.controls.sta_mobile.errors.pattern"
                      >Số điện thoại chỉ được nhập số</span
                    >
                  </div>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label"
                  >Email
                  <span *ngIf="formContractType.value.sta_type_contact === 0">(*)</span></label
                >
                <div class="col-6">
                  <input
                    class="form-control"
                    [readonly]="listView[2]"
                    formControlName="sta_email"
                    [ngClass]="{
                      'is-invalid':
                        submitted &&
                        (formContact.controls.sta_email.errors ||
                          errorField === 'sta_email' ||
                          (formContractType.value.sta_type_contact === 0 &&
                            formContact.value.sta_email === ''))
                    }"
                  />
                  <div
                    *ngIf="
                      submitted &&
                      (formContact.controls.sta_email.errors ||
                        (formContractType.value.sta_type_contact === 0 &&
                          formContact.value.sta_email === ''))
                    "
                    class="invalid-feedback"
                  >
                    <span
                      *ngIf="
                        formContractType.value.sta_type_contact === 0 &&
                        formContact.value.sta_email === ''
                      "
                      >Trường bắt buộc</span
                    >
                    <span
                      *ngIf="
                        formContact.value.sta_email !== '' &&
                        formContact.controls.sta_email.errors.email
                      "
                    >
                      Email sai định dạng
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="3" class="row title-section">
            <h5>{{ menu[3] }}</h5>
            <i
              [ngClass]="listView[3] ? 'fe-edit ml-2' : 'fe-save ml-2'"
              (click)="switchViewType(3)"
            ></i>
          </div>
          <div [formGroup]="formIdentityCard">
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Số CMND/Thẻ căn cước</label>
                <div class="col-6">
                  <input
                    class="form-control"
                    [readonly]="listView[3]"
                    formControlName="sta_identity_card"
                    (change)="onChangeIdentityCard($event)"
                    [ngClass]="{
                      'is-invalid': submitted && formIdentityCard.controls.sta_identity_card.errors
                    }"
                  />
                  <!-- <div
                    *ngIf="submitted && formIdentityCard.controls.sta_identity_card.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="formIdentityCard.controls.sta_identity_card.errors.pattern"
                      >Chỉ chứa các chữ số</span
                    >
                  </div> -->
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Ngày cấp</label>
                <div class="col-6">
                  <div class="input-group clockpicker mb-2 mr-1">
                    <input
                      ngbDatepicker
                      readonly="true"
                      class="form-control"
                      placeholder="Chọn ngày"
                      #icd="ngbDatepicker"
                      formControlName="sta_identity_card_date"
                      [disabled]="listView[3] || formIdentityCard.value.sta_identity_card === ''"
                    />
                    <div class="input-group-append" (click)="icd.toggle()">
                      <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Nơi cấp</label>
                <div class="col-6">
                  <input
                    class="form-control"
                    [readonly]="listView[3] || formIdentityCard.value.sta_identity_card === ''"
                    formControlName="sta_identity_card_location"
                  />
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Ngày hết hạn</label>
                <div class="col-6">
                  <div class="input-group clockpicker mb-2 mr-1">
                    <input
                      ngbDatepicker
                      readonly="true"
                      class="form-control"
                      placeholder="Chọn ngày"
                      #icde="ngbDatepicker"
                      formControlName="sta_identity_card_date_end"
                      [disabled]="listView[3] || formIdentityCard.value.sta_identity_card === ''"
                    />
                    <div class="input-group-append" (click)="icde.toggle()">
                      <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="4" class="row title-section">
            <h5>{{ menu[4] }}</h5>
            <i
              [ngClass]="listView[4] ? 'fe-edit ml-2' : 'fe-save ml-2'"
              (click)="switchViewType(4)"
            ></i>
          </div>
          <div [formGroup]="formPermanentAddress">
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Tỉnh/Thành phố <span>(*)</span></label>
                <div class="col-6">
                  <select
                    class="custom-select"
                    formControlName="unl_province_permanent"
                    class="form-control"
                    (change)="onChangeProvincePermanent($event)"
                  >
                    <option
                      *ngFor="let province of provincePermanent"
                      [disabled]="listView[4]"
                      [value]="province.name"
                      >{{ province.name }}</option
                    >
                  </select>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Quận/Huyện <span>(*)</span></label>
                <div class="col-6">
                  <select
                    class="custom-select"
                    formControlName="unl_district_permanent"
                    class="form-control"
                    (change)="onChangeDistrictPermanent($event)"
                  >
                    <option
                      *ngFor="let district of districtPermanent"
                      [disabled]="listView[4]"
                      [value]="district.name"
                      >{{ district.name }}</option
                    >
                  </select>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Xã/Phường <span>(*)</span></label>
                <div class="col-6">
                  <select
                    class="custom-select"
                    formControlName="unl_ward_permanent"
                    class="form-control"
                  >
                    <option
                      *ngFor="let ward of wardPermanent"
                      [disabled]="listView[4]"
                      [value]="ward.name"
                      >{{ ward.name }}</option
                    >
                  </select>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Địa chỉ <span>(*)</span></label>
                <div class="col-6">
                  <input
                    class="form-control"
                    [readonly]="listView[4]"
                    formControlName="unl_detail_permanent"
                    [ngClass]="{
                      'is-invalid':
                        submitted && formPermanentAddress.controls.unl_detail_permanent.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && formPermanentAddress.controls.unl_detail_permanent.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="formPermanentAddress.controls.unl_detail_permanent.errors.required"
                      >Trường bắt buộc</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="5" class="row title-section">
            <h5>{{ menu[5] }}</h5>
            <div class="checkbox checkbox-success form-check-inline ml-3" style="line-height: 2;">
              <input
                type="checkbox"
                [disabled]="listView[5]"
                (change)="changeCheckSame($event)"
                [checked]="checkSameAddress()"
              />
              <label> giống hộ khẩu thường trú </label>
            </div>
            <i
              [ngClass]="listView[5] ? 'fe-edit ml-2' : 'fe-save ml-2'"
              (click)="switchViewType(5)"
            ></i>
          </div>
          <div [formGroup]="formNowAddress">
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Tỉnh/Thành phố <span>(*)</span></label>
                <div class="col-6">
                  <select
                    class="custom-select"
                    formControlName="unl_province_now"
                    class="form-control"
                    (change)="onChangeProvinceNow($event)"
                  >
                    <option
                      *ngFor="let province of provinceNow"
                      [disabled]="listView[5]"
                      [value]="province.name"
                      >{{ province.name }}</option
                    >
                  </select>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Quận/Huyện <span>(*)</span></label>
                <div class="col-6">
                  <select
                    class="custom-select"
                    formControlName="unl_district_now"
                    class="form-control"
                    (change)="onChangeDistrictNow($event)"
                  >
                    <option
                      *ngFor="let district of districtNow"
                      [disabled]="listView[5]"
                      [value]="district.name"
                      >{{ district.name }}</option
                    >
                  </select>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Xã/Phường <span>(*)</span></label>
                <div class="col-6">
                  <select class="custom-select" formControlName="unl_ward_now" class="form-control">
                    <option
                      *ngFor="let ward of wardNow"
                      [disabled]="listView[5]"
                      [value]="ward.name"
                      >{{ ward.name }}</option
                    >
                  </select>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Địa chỉ <span>(*)</span></label>
                <div class="col-6">
                  <input
                    class="form-control"
                    [readonly]="listView[5]"
                    formControlName="unl_detail_now"
                    [ngClass]="{
                      'is-invalid': submitted && formNowAddress.controls.unl_detail_now.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && formNowAddress.controls.unl_detail_now.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="formNowAddress.controls.unl_detail_now.errors.required"
                      >Trường bắt buộc</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="6" class="row title-section">
            <h5>{{ menu[6] }}</h5>
            <a class="btn btn-primary btn-xs ml-2 button-link" (click)="onUpdateListTraining()"
              >Chọn</a
            >
            <a class="btn btn-success btn-xs ml-2 button-link" (click)="openTrainingModal()"
              >Thêm mới</a
            >
            <i
              [ngClass]="listView[6] ? 'fe-edit ml-2' : 'fe-save ml-2'"
              (click)="switchViewType(6)"
            ></i>
          </div>
          <div class="table-responsive border mb-2">
            <table class="table table-centered table-hover mb-0">
              <thead>
                <tr>
                  <th>Tên CTĐT</th>
                  <th>Nội dung đào tạo</th>
                  <th>Thời gian bắt đầu</th>
                  <th>Thời gian kết thúc</th>
                  <th>Mục đích đào tạo</th>
                  <th>Đánh giá</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let training of listTraining">
                  <td>{{ training.tn_name }}</td>
                  <td>
                    {{ training.tn_content }}
                  </td>
                  <td>{{ training.tn_start_date | date: 'dd/MM/yyyy' }}</td>
                  <td>{{ training.tn_end_date | date: 'dd/MM/yyyy' }}</td>
                  <td>{{ training.tn_purpose }}</td>
                  <td>{{ training.ts_evaluate_name }}</td>
                  <td>
                    <a
                      href="javascript:void(0);"
                      class="action-icon"
                      (click)="openTrainingModal(training)"
                    >
                      <i class="mdi mdi-square-edit-outline"></i
                    ></a>
                    <a
                      href="javascript:void(0);"
                      class="action-icon"
                      (click)="openRemoveTraining(training)"
                    >
                      <i class="mdi mdi-delete"></i
                    ></a>
                  </td>
                </tr>
                <tr *ngFor="let training of listNewTraining">
                  <td>{{ training.tn_name }}</td>
                  <td>
                    {{ training.tn_content }}
                  </td>
                  <td>{{ training.tn_start_date | date: 'dd/MM/yyyy' }}</td>
                  <td>{{ training.tn_end_date | date: 'dd/MM/yyyy' }}</td>
                  <td>{{ training.tn_purpose }}</td>
                  <td>{{ training.ts_evaluate_name }}</td>
                  <td>
                    <a
                      href="javascript:void(0);"
                      class="action-icon"
                      (click)="openTrainingModal(training)"
                    >
                      <i class="mdi mdi-square-edit-outline"></i
                    ></a>
                    <a
                      href="javascript:void(0);"
                      class="action-icon"
                      (click)="openRemoveTraining(training)"
                    >
                      <i class="mdi mdi-delete"></i
                    ></a>
                  </td>
                </tr>
                <tr
                  *ngIf="
                    (!listTraining && !listNewTraining) ||
                    listTraining?.length + listNewTraining?.length === 0
                  "
                >
                  <td colspan="7">Không có dữ liệu khóa đào tạo</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="form-row" [formGroup]="formAchieve">
            <div class="form-group row mb-3">
              <label class="col-4 col-form-label">Nhận xét</label>
              <div class="col-6">
                <textarea
                  class="form-control"
                  [readonly]="listView[6]"
                  formControlName="comment"
                ></textarea>
              </div>
            </div>
            <div class="form-group row mb-3">
              <label class="col-4 col-form-label">Trạng thái</label>
              <div class="col-6">
                <select class="custom-select" formControlName="achieved" class="form-control">
                  <option [disabled]="listView[6]" [value]="1">Đạt</option>
                  <option [disabled]="listView[6]" [value]="2">Không Đạt</option>
                </select>
              </div>
            </div>
          </div>

          <div id="7" class="row title-section">
            <h5>{{ menu[7] }}</h5>
            <a class="btn btn-primary btn-xs ml-2 button-link" (click)="openAddressModal()"
              >Thêm mới</a
            >
          </div>
          <div class="table-responsive border mb-2">
            <table class="table table-centered table-hover mb-0">
              <thead>
                <tr>
                  <th>Thành phố</th>
                  <th>Quận/Huyện</th>
                  <th>Phường/Xã</th>
                  <th>Địa chỉ</th>
                  <th>Ghi chú</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let address of listAddress">
                  <td>
                    {{ address.unl_province }}
                  </td>
                  <td>{{ address.unl_district }}</td>
                  <td>
                    {{ address.unl_ward }}
                  </td>
                  <td>{{ address.unl_detail }}</td>
                  <td>{{ address.unl_note }}</td>
                  <td>
                    <a class="action-icon table-button-link" (click)="openAddressModal(address)">
                      <i class="mdi mdi-square-edit-outline"></i
                    ></a>
                    <a class="action-icon table-button-link" (click)="onRemoveAddress(address)">
                      <i class="mdi mdi-delete"></i
                    ></a>
                  </td>
                </tr>
                <tr *ngIf="!listAddress || listAddress.length === 0">
                  <td colspan="6">Không có dữ liệu địa chỉ phụ trách</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div id="8" class="row title-section">
            <h5>{{ menu[8] }}</h5>
            <a class="btn btn-primary btn-xs ml-2 button-link" (click)="openRelativeModal()"
              >Thêm mới</a
            >
          </div>
          <div class="table-responsive border mb-2">
            <table class="table table-centered table-hover mb-0">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Họ tên</th>
                  <th>Quan hệ</th>
                  <th>Số điện thoại</th>
                  <th>Địa chỉ</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let relative of listRelative; let i = index">
                  <td>
                    {{ i + 1 }}
                  </td>
                  <td>
                    {{ relative.rels_fullname }}
                  </td>
                  <td>{{ relative.rels_relatives }}</td>
                  <td>
                    {{ relative.rels_phone }}
                  </td>
                  <td>{{ relative.rels_address }}</td>
                  <td>
                    <a class="action-icon table-button-link" (click)="openRelativeModal(relative)">
                      <i class="mdi mdi-square-edit-outline"></i
                    ></a>
                    <a class="action-icon table-button-link" (click)="onRemoveRelative(relative)">
                      <i class="mdi mdi-delete"></i
                    ></a>
                  </td>
                </tr>
                <tr *ngIf="!listRelative || listRelative.length === 0">
                  <td colspan="6">Không có dữ liệu quan hệ gia đình</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div id="9" class="row title-section">
            <h5>{{ menu[9] }}</h5>
            <a class="btn btn-primary btn-xs ml-2 button-link" (click)="openAttachmentModal()"
              >Thêm mới</a
            >
          </div>
          <div class="table-responsive border mb-2">
            <table class="table table-centered table-hover mb-0">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Tên file</th>
                  <th>File</th>
                  <th>Mô tả</th>
                  <th>Ghi chú</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let attachment of listAttachment; let i = index">
                  <td>
                    {{ i + 1 }}
                  </td>
                  <td>
                    {{ attachment.ast_filename }}
                  </td>
                  <td>{{ attachment.ast_link }}</td>
                  <td>
                    {{ attachment.ast_description }}
                  </td>
                  <td>{{ attachment.ast_note }}</td>
                  <td>
                    <a
                      class="action-icon table-button-link"
                      (click)="openAttachmentModal(attachment)"
                    >
                      <i class="mdi mdi-square-edit-outline"></i
                    ></a>
                    <a
                      class="action-icon table-button-link"
                      (click)="onRemoveAttachment(attachment)"
                    >
                      <i class="mdi mdi-delete"></i
                    ></a>
                  </td>
                </tr>
                <tr *ngIf="!listAttachment || listAttachment.length === 0">
                  <td colspan="6">Không có dữ liệu file đính kèm</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div id="10" class="row title-section">
            <h5>{{ menu[10] }}</h5>
            <a class="btn btn-primary btn-xs ml-2 button-link" (click)="openBankModal()"
              >Thêm mới</a
            >
          </div>
          <div class="table-responsive border mb-2">
            <table class="table table-centered table-hover mb-0">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Loại ngân hàng</th>
                  <th>Tên ngân hàng</th>
                  <th>Chi nhánh</th>
                  <th>Số tài khoản</th>
                  <th>Tên chủ tài khoản</th>
                  <th>Ghi chú</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bank of listBank; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>
                    {{ bank.bank_category_name }}
                  </td>
                  <td>{{ bank.bank_name }}</td>
                  <td>
                    {{ bank.bank_branch_name }}
                  </td>
                  <td>{{ bank.stb_account }}</td>
                  <td>{{ bank.stb_fullname }}</td>
                  <td>{{ bank.stb_note }}</td>
                  <td>
                    <a class="action-icon table-button-link" (click)="openBankModal(bank)">
                      <i class="mdi mdi-square-edit-outline"></i
                    ></a>
                    <a class="action-icon table-button-link" (click)="onRemoveBank(bank)">
                      <i class="mdi mdi-delete"></i
                    ></a>
                  </td>
                </tr>
                <tr *ngIf="!listBank || listBank.length === 0">
                  <td colspan="8">Không có dữ liệu tài khoản ngân hàng</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div id="11" class="row title-section">
            <h5>{{ menu[11] }}</h5>
            <a class="btn btn-primary btn-xs ml-2 button-link" (click)="openBonusModal()"
              >Thêm mới</a
            >
          </div>
          <div class="table-responsive border mb-2">
            <table class="table table-centered table-hover mb-0">
              <thead>
                <tr>
                  <th>STT</th>
                  <th>Tiêu đề</th>
                  <th>Nội dung</th>
                  <th>Kiểu</th>
                  <th>Mức</th>
                  <th>Thời gian</th>
                  <th>Lý do</th>
                  <th>Ghi chú</th>
                  <th>Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let bonus of listBonus; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>
                    {{ bonus.bos_title }}
                  </td>
                  <td>{{ bonus.bos_content }}</td>
                  <td>
                    {{ bonus.bos_type === 1 ? 'Khen thưởng' : 'Kỉ luật' }}
                  </td>
                  <td>
                    {{ bonus.bos_value }}
                  </td>
                  <td>{{ bonus.bos_time | date: 'dd/MM/yyyy' }}</td>
                  <td>{{ bonus.bos_reason }}</td>
                  <td>{{ bonus.bos_note }}</td>
                  <td>
                    <a class="action-icon table-button-link" (click)="openBonusModal(bonus)">
                      <i class="mdi mdi-square-edit-outline"></i
                    ></a>
                    <a class="action-icon table-button-link" (click)="onRemoveBonus(bonus)">
                      <i class="mdi mdi-delete"></i
                    ></a>
                  </td>
                </tr>
                <tr *ngIf="!listBonus || listBonus.length === 0">
                  <td colspan="9">Không có dữ liệu khen thưởng/kỉ luật</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row justify-content-end mr-2">
          <div class="text-sm-right">
            <button
              class="btn btn-success mb-2 mr-1 button-link"
              [disabled]="
                !formContractType.dirty &&
                !formProfile.dirty &&
                !formContact.dirty &&
                !formIdentityCard.dirty &&
                !formPermanentAddress.dirty &&
                !formNowAddress.dirty &&
                !formAchieve.dirty &&
                !isChange
              "
              (click)="onSubmit()"
            >
              Lưu lại
            </button>
            <a class="btn btn-danger mb-2 mr-1 button-link" (click)="onChangeToMain()">
              Quay lại
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-main-container>
