<app-main-container [hasBottom]="false">
  <div top class="card-body" style="height: 100%;">
    <div class="row mb-1">
      <div class="col-xl-6">
        <form class="form-inline row">
          <div class="form-group">
            <input
              class="form-control"
              name="textSearch"
              placeholder="Tìm kiếm..."
              [(ngModel)]="textSearch"
              (input)="onChangeFilter()"
            />
          </div>
        </form>
      </div>
      <div class="col-xl-6">
        <div class="text-sm-right">
          <button type="button" class="btn btn-info mr-1">
            <span class="mdi mdi-cloud-upload"></span>
            Nhập
          </button>
          <button type="button" class="btn btn-info mr-1">
            <span class="mdi mdi-cloud-download"></span>
            Xuất
          </button>
          <a
            [ngClass]="selectedTemplate ? '' : 'disabled'"
            class="btn btn-secondary mr-1 button-link"
            (click)="openViewTemplateModal(selectedTemplate)"
            ><i class="mdi mdi-eye mr-1"></i> Chi tiết</a
          >
          <a class="btn btn-success mr-1 button-link" (click)="openTemplateModal()"
            ><i class="mdi mdi-plus-circle mr-1"></i> Thêm mới</a
          >
          <a
            class="btn btn-primary mr-1 button-link"
            [ngClass]="selectedTemplate ? '' : 'disabled'"
            (click)="openTemplateModal(selectedTemplate)"
            ><i class="mdi mdi-square-edit-outline mr-1"></i> Cập nhật</a
          >
          <a
            class="btn btn-danger mr-1 button-link"
            [ngClass]="selectedTemplate ? '' : 'disabled'"
            (click)="openConfirmModal(selectedTemplate)"
            ><i class="mdi mdi-delete mr-1"></i> Xóa</a
          >
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-centered table-hover mb-0">
        <thead>
          <tr>
            <th>Tên mẫu</th>
            <th>Ngày tạo</th>
            <th>Người tạo</th>
            <th>Ngày sửa</th>
            <th>Người sửa</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let template of templates"
            (click)="onClickTemplate(template)"
            [ngClass]="{
              'is-selected': template.smt_id === selectedTemplate?.smt_id
            }"
          >
            <td>
              {{ template.smt_title }}
            </td>
            <td>
              {{ template.smt_created_date | date: 'dd/MM/yyyy' }}
            </td>
            <td>
              {{ template.staff_fullname }}
            </td>

            <td>
              {{ template.smt_modify_time | date: 'dd/MM/yyyy' }}
            </td>
            <td>
              {{ template.smt_modify_name }}
            </td>
          </tr>
          <tr *ngIf="templates?.length === 0">
            <td colspan="3">Không có dữ liệu mẫu SMS</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ul class="pagination pagination-rounded justify-content-end my-3">
      <ngb-pagination
        (pageChange)="onPageChange($event)"
        [pageSize]="pageSize"
        [(page)]="page"
        [collectionSize]="totalSize"
      ></ngb-pagination>
    </ul>
  </div>
</app-main-container>
