:host {
  .card-body {
    padding: 0;
  }

  .company-detail {
    display: flex;
    height: 100%;

    .menu {
      width: 200px;
      border-right: 2px solid lightgray;

      .item {
        font-size: small;
        cursor: pointer;
        padding: 10px;

        &:hover {
          background-color: lightgrey;
          font-weight: 700;
        }

        &.is-selected {
          background-color: lightgray;
        }
      }
    }

    .main {
      width: 100%;
      max-height: 100%;
    }

    .content {
      height: calc(100% - 40px);
      overflow: auto;
      padding-left: 20px;

      .row {
        margin: 0;
      }

      .form-row {
        margin: 0;
      }

      span {
        color: red;
      }

      .title-section {
        padding: 5px 0px;
        align-items: center;
      }

      i {
        cursor: pointer;
      }

      .form-inline {
        align-items: baseline;
        flex-flow: row;
      }

      .package-container {
        display: flex;
        height: calc(100% - 450px);
        width: calc(100vw - 280px);
        overflow: auto;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .package {
          min-width: 400px;
          border-radius: 5px;
          border: 1px solid lightgray;
          background-color: lightgray;
          margin: 10px;
          max-height: 200px;
          //height: fit-content;

          .package-title {
            display: flex;
            margin-top: 20px;
            margin-right: 40px;
            margin-bottom: 20px;
            background-color: #4d96de;
            padding: 10px;
            color: white;
            font-weight: 700;
            align-items: baseline;

            label::after {
              left: 14px;
            }

            label::before {
              position: relative;
            }
          }

          .list-item {
            height: 80px;
            overflow: auto;
          }
        }
      }
    }
  }
}
