<div class="table-responsive">
  <table class="table table-centered table-hover mb-0">
    <thead>
      <tr>
        <th>STT</th>
        <th>Mã chức năng</th>
        <th>Tên chức năng</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fun of listFunction; let i = index">
        <td>
          {{ i + 1 }}
        </td>
        <td>
          {{ fun.fun_code }}
        </td>
        <td>
          {{ fun.fun_name }}
        </td>
      </tr>
      <tr *ngIf="!listFunction || listFunction?.length === 0">
        <td colspan="3">Không có dữ liệu gói chức năng</td>
      </tr>
    </tbody>
  </table>
</div>
