<div class="container-fluid">
  <app-page-title
    title="Đặt dịch vụ"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <!-- widget -->
    <ng-template
      [ngTemplateOutlet]="WidgetData"
      [ngTemplateOutletContext]="{ widget: widget }"
      *ngFor="let widget of widgetData"
    ></ng-template>
    <!-- end widget -->
  </div>

  <div class="row">
    <div class="col-xl-5" *ngIf="1 === 0">
      <div class="card-box">
        <div class="title-section mt-2">Thông tin khách hàng</div>
        <div class="form-group mb-3">
          <label class="sr-only">Search</label>
          <input class="form-control" placeholder="Search..." />
        </div>
        <div class="form-row row mb-3">
          <label class="col-4 col-form-label">Họ và tên</label>
          <div class="col-8">
            <input class="form-control" />
          </div>
        </div>
        <div class="form-row row mb-3">
          <label class="col-4 col-form-label">Số điện thoại</label>
          <div class="col-8">
            <input class="form-control" />
          </div>
        </div>
        <div class="title-section mt-2">Thởi gian yêu cầu</div>
        <div class="form-row">
          <div class="form-group mb-3">
            <label>Bắt đầu</label>
            <div class="input-group clockpicker">
              <input
                ngbDatepicker
                class="form-control"
                autoClose="false"
                placeholder="yyyy-mm-dd"
                #date="ngbDatepicker"
              />
              <div class="input-group-append" (click)="date.toggle()">
                <span class="input-group-text"
                  ><i class="mdi mdi-calendar"></i
                ></span>
              </div>
            </div>
          </div>
          <div class="form-group mb-3 form-group-custom">
            <div class="input-group">
              <select class="custom-select" class="form-control">
                <option *ngFor="let item of selectionTime">{{
                  item.value
                }}</option>
              </select>
            </div>
          </div>
          <div class="form-group mb-3">
            <label>Kết thúc</label>
            <div class="input-group clockpicker">
              <input
                ngbDatepicker
                class="form-control"
                autoClose="false"
                placeholder="yyyy-mm-dd"
                #date="ngbDatepicker"
              />
              <div class="input-group-append" (click)="date.toggle()">
                <span class="input-group-text"
                  ><i class="mdi mdi-calendar"></i
                ></span>
              </div>
            </div>
          </div>
          <div class="form-group mb-3" style="width: 20%;">
            <div class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="customCheck11"
                (change)="onChangeRepeatCheckbox($event)"
              />
              <label class="custom-control-label" for="customCheck11"
                >Nhắc lại</label
              >
            </div>
            <div class="input-group">
              <select class="custom-select" class="form-control">
                <option *ngFor="let item of selectionTime">{{
                  item.value
                }}</option>
              </select>
            </div>
          </div>
        </div>
        <div *ngIf="repeat !== ''">
          <label>Nhắc lại</label>
          <div class="form-row">
            <div class="form-group row mb-3" style="width: 50%;">
              <label class="col-4 col-form-label">Bắt đầu</label>
              <div class="col-8">
                <div class="input-group clockpicker">
                  <input
                    ngbDatepicker
                    class="form-control"
                    autoClose="false"
                    placeholder="yyyy-mm-dd"
                    #date="ngbDatepicker"
                  />
                  <div class="input-group-append" (click)="date.toggle()">
                    <span class="input-group-text"
                      ><i class="mdi mdi-calendar"></i
                    ></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row mb-3" style="width: 50%;">
              <label class="col-4 col-form-label">Kết thúc</label>
              <div class="col-8">
                <div class="input-group clockpicker">
                  <input
                    ngbDatepicker
                    class="form-control"
                    autoClose="false"
                    placeholder="yyyy-mm-dd"
                    #date="ngbDatepicker"
                  />
                  <div class="input-group-append" (click)="date.toggle()">
                    <span class="input-group-text"
                      ><i class="mdi mdi-calendar"></i
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group row mb-3" style="width: 50%;">
              <div class="input-group">
                <select
                  class="custom-select"
                  class="form-control"
                  (change)="onChangeRepeatSelect($event)"
                >
                  <option value="day">Mỗi ngày</option>
                  <option value="week">Mỗi tuần</option>
                  <option value="month">Mỗi tháng</option>
                  <option value="year">Mỗi năm</option>
                </select>
              </div>
            </div>
            <div class="form-group row mb-3" style="width: 50%;"></div>
          </div>
          <div *ngIf="repeat === 'day'" class="d-flex justify-content-around">
            <div class="radio radio-info form-check-inline">
              <input type="radio" value="option1" name="radioInline" checked />
              <label>
                Mỗi
                <select class="custom-select" class="form-control">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
                ngày
              </label>
            </div>
            <div class="radio form-check-inline">
              <input type="radio" value="option2" name="radioInline" />
              <label> Mỗi cuối tuần </label>
            </div>
          </div>
          <div *ngIf="repeat === 'week'">
            <div style="width: 50%;">
              <label>
                Mỗi
                <select class="custom-select" class="form-control">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
                tuần trong
              </label>
            </div>
            <div class="radio form-check-inline">
              <input type="radio" value="monday" name="radioInline" />
              <label> Thứ 2 </label>
            </div>
            <div class="radio form-check-inline">
              <input type="radio" value="tuesday" name="radioInline" />
              <label> Thứ 3 </label>
            </div>
            <div class="radio form-check-inline">
              <input type="radio" value="wednesday" name="radioInline" />
              <label> Thứ 4 </label>
            </div>
            <div class="radio form-check-inline">
              <input type="radio" value="thursday" name="radioInline" />
              <label> Thứ 5 </label>
            </div>
            <div class="radio form-check-inline">
              <input type="radio" value="friday" name="radioInline" />
              <label> Thứ 6 </label>
            </div>
            <div class="radio form-check-inline">
              <input type="radio" value="saturday" name="radioInline" />
              <label> Thứ 7 </label>
            </div>
            <div class="radio form-check-inline">
              <input type="radio" value="sunday" name="radioInline" />
              <label> Chủ nhật </label>
            </div>
          </div>
          <div *ngIf="repeat === 'month'">
            <div style="width: 50%;">
              <label>
                Mỗi
                <select
                  class="custom-select"
                  class="form-control"
                  style="width: 80px;"
                >
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
                tháng
              </label>
            </div>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                name="customRadio"
                class="custom-control-input"
              />
              <label class="custom-control-label"
                >Trong ngày
                <select
                  class="custom-select"
                  class="form-control"
                  style="width: 80px;"
                >
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select></label
              >
            </div>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                name="customRadio"
                class="custom-control-input"
              />
              <label class="custom-control-label"
                >Trong
                <select
                  class="custom-select"
                  class="form-control"
                  style="width: 150px;"
                >
                  <option value="1">Thứ 2</option>
                  <option value="2">Thứ 3</option>
                  <option value="3">Thứ 4</option>
                  <option value="4">Thứ 5</option>
                  <option value="5">Thứ 6</option>
                  <option value="6">Thứ 7</option>
                  <option value="7">Chủ nhật</option>
                </select>
                <select
                  class="custom-select"
                  class="form-control"
                  style="width: 150px;"
                >
                  <option value="1">Đầu tiên</option>
                  <option value="2">Thứ 2</option>
                  <option value="3">Thứ 3</option>
                  <option value="4">Cuối cùng</option>
                </select></label
              >
            </div>
          </div>
          <div *ngIf="repeat === 'year'">
            <div style="width: 50%;">
              <label>
                Mỗi
                <select
                  class="custom-select"
                  class="form-control"
                  style="width: 80px;"
                >
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
                năm trong
                <select
                  class="custom-select"
                  class="form-control"
                  style="width: 150px;"
                >
                  <option value="1">Tháng 1</option>
                  <option value="2">Tháng 2</option>
                  <option value="3">Tháng 3</option>
                  <option value="4">Tháng 4</option>
                </select>
              </label>
            </div>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                name="customRadio"
                class="custom-control-input"
              />
              <label class="custom-control-label"
                >Trong ngày
                <select
                  class="custom-select"
                  class="form-control"
                  style="width: 80px;"
                >
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select></label
              >
            </div>
            <div class="custom-control custom-radio">
              <input
                type="radio"
                id="customRadio2"
                class="custom-control-input"
              />
              <label class="custom-control-label"
                >Trong
                <select
                  class="custom-select"
                  class="form-control"
                  style="width: 150px;"
                >
                  <option value="1">Thứ 2</option>
                  <option value="2">Thứ 3</option>
                  <option value="3">Thứ 4</option>
                  <option value="4">Thứ 5</option>
                  <option value="5">Thứ 6</option>
                  <option value="6">Thứ 7</option>
                  <option value="7">Chủ nhật</option>
                </select>
                <select
                  class="custom-select"
                  class="form-control"
                  style="width: 150px;"
                >
                  <option value="1">Đầu tiên</option>
                  <option value="2">Thứ 2</option>
                  <option value="3">Thứ 3</option>
                  <option value="4">Cuối cùng</option>
                </select></label
              >
            </div>
          </div>
        </div>
        <div class="title-section mt-2">Danh sách nhân viên rảnh</div>
        <div class="table-responsive">
          <table class="table table-centered table-hover mb-0">
            <thead>
              <tr>
                <th>Mã nhân viên</th>
                <th>Tên nhân viên</th>
                <th>Số điện thoại</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  NV01
                </td>
                <td>
                  Nguyễn văn A
                </td>
                <td>
                  01992810011
                </td>
              </tr>
              <tr>
                <td>
                  NV02
                </td>
                <td>
                  Nguyễn văn AB
                </td>
                <td>
                  01992810011
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- end card-box-->
    </div>
    <div class="col-xl-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="app-calendar">
                    <!-- calendar -->
                    <full-calendar
                      #calendar
                      defaultView="dayGridMonth"
                      [header]="{
                        left: 'prev,next today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
                      }"
                      [plugins]="calendarPlugins"
                      themeSystem="bootstrap"
                      [weekends]="calendarWeekends"
                      deepChangeDetection="true"
                      [events]="calendarEvents"
                      (dateClick)="openOrderServiceModal($event)"
                      (eventClick)="openOrderServiceModal($event)"
                      (eventMouseEnter)="onHoverEvent($event)"
                    >
                    </full-calendar>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Widget data -->
<ng-template #WidgetData let-widget="widget">
  <div class="col-md-6 col-xl-3">
    <div class="widget-rounded-circle card-box">
      <div class="row">
        <div class="col-6">
          <div
            class="avatar-lg rounded-circle bg-soft-{{ widget.color }} border-{{
              widget.color
            }} border"
          >
            <i
              class="{{ widget.icon }} font-22 avatar-title text-{{
                widget.color
              }}"
            ></i>
          </div>
        </div>
        <div class="col-6">
          <div class="text-right">
            <h3
              class="text-dark mt-1"
              [CountTo]="widget.value"
              [from]="0"
              [duration]="1"
            >
              {{ widget.value }}
            </h3>
            <p class="text-muted mb-1 text-truncate">{{ widget.text }}</p>
          </div>
        </div>
      </div>
      <!-- end row-->
    </div>
    <!-- end widget-rounded-circle-->
  </div>
  <!-- end col-->
</ng-template>
