<div class="container-fluid">
  <div class="row">
    <div class="col-xl-8 order-xl-1 order-2">
      <div class="card mb-2">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-8">
              <form class="form-inline row">
                <div class="form-group col-sm-auto">
                  <input
                    class="form-control"
                    name="textSearch"
                    placeholder="Tìm kiếm..."
                    [(ngModel)]="textSearch"
                    (input)="onChangeFilter()"
                  />
                </div>
              </form>
            </div>
            <div class="col-lg-4">
              <div class="text-lg-right mt-3 mt-lg-0">
                <a href="javascript: void(0);" class="btn btn-danger" (click)="onRouteDetail()">
                  Thêm mới</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-box mb-2" *ngFor="let group of groups">
        <div class="row align-items-center">
          <div class="col-sm-10">
            <div class="media">
              <img
                class="d-flex align-self-center mr-3 rounded-circle"
                [src]="'http://27.72.88.15:83' + group.cg_thumbnail"
                onerror="this.src='/assets/images/users/user-1.jpg';"
                alt="Generic placeholder image"
                height="64"
              />
              <div class="media-body">
                <h4 class="mt-0 mb-2 font-16">{{ group.cg_name }}</h4>
                <div class="row ml-0">
                  <div class="mr-4"><b>Người tạo:</b> {{ group.staff_name }}</div>
                  <div><b>Ngày tạo:</b> {{ group.cg_created_date | date: 'dd/MM/yyyy' }}</div>
                </div>
                <p class="mb-1 mt-2">{{ group.cg_description }}</p>
                <p class="mb-0">
                  <a
                    href="javascript: void(0);"
                    (click)="openListCustomerModal(group)"
                    class="badge badge-primary"
                    style="font-size: 90%;"
                    >Danh sách khách hàng</a
                  >
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="text-sm-right">
              <a href="javascript:void(0);" class="action-icon" (click)="onRouteDetail(group)">
                <i class="mdi mdi-square-edit-outline"></i
              ></a>
              <a href="javascript:void(0);" class="action-icon" (click)="openConfirmModal(group)">
                <i class="mdi mdi-delete"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 order-xl-2 order-1">
      <div class="card-box" dir="ltr">
        <h4 class="header-title mb-3 text-center">
          Tỷ lệ phân bố nhóm khách hàng
        </h4>

        <div class="text-center">
          <apx-chart
            [series]="simplePieChart.series"
            [chart]="simplePieChart.chart"
            [labels]="simplePieChart.labels"
            [dataLabels]="simplePieChart.dataLabels"
            [legend]="simplePieChart.legend"
            [colors]="simplePieChart.colors"
            [responsive]="simplePieChart.responsive"
          >
          </apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>
