<div class="modal-header bg-dark">
  <h4 class="modal-title text-white">{{ func ? 'Sửa' : 'Thêm' }} chức năng</h4>
  <button class="close text-white" aria-label="Close" (click)="onClickCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-3" [formGroup]="form">
  <div class="form-group row mb-3">
    <label class="col-4 col-form-label">Mã chức năng <span>(*)</span></label>
    <div class="col-8">
      <input
        class="form-control"
        formControlName="fun_code"
        [ngClass]="{
          'is-invalid': submitted && form.controls.fun_code.errors
        }"
      />
      <div *ngIf="submitted && form.controls.fun_code.errors" class="invalid-feedback">
        <span *ngIf="form.controls.fun_code.errors.required">Trường bắt buộc</span>
      </div>
    </div>
  </div>
  <div class="form-group row mb-3">
    <label class="col-4 col-form-label">Tên chức năng <span>(*)</span></label>
    <div class="col-8">
      <input
        class="form-control"
        formControlName="fun_name"
        [ngClass]="{
          'is-invalid': submitted && form.controls.fun_name.errors
        }"
      />
      <div *ngIf="submitted && form.controls.fun_name.errors" class="invalid-feedback">
        <span *ngIf="form.controls.fun_name.errors.required">Trường bắt buộc</span>
      </div>
    </div>
  </div>
  <div class="form-group row mb-3">
    <label class="col-4 col-form-label">Giá <span>(*)</span></label>
    <div class="col-8">
      <input
        class="form-control"
        formControlName="fun_price"
        [ngClass]="{
          'is-invalid': submitted && form.controls.fun_price.errors
        }"
      />
      <div *ngIf="submitted && form.controls.fun_price.errors" class="invalid-feedback">
        <span *ngIf="form.controls.fun_price.errors.required">Trường bắt buộc</span>
      </div>
    </div>
  </div>
  <div class="text-right mt-3">
    <button class="btn btn-success ml-1" (click)="onClickSubmit()">
      Lưu
    </button>
    <button class="btn btn-danger ml-1" (click)="onClickCancel()">
      Hủy
    </button>
  </div>
</div>
