<app-main-container [hasBottom]="false">
  <div top class="card-body" style="height: 100%;">
    <div class="row mb-1">
      <div class="col-xl-6">
        <form class="form-inline row">
          <div class="form-group">
            <input
              class="form-control"
              name="textSearch"
              placeholder="Tìm kiếm..."
              [(ngModel)]="textSearch"
              (input)="onChangeFilter()"
            />
          </div>
        </form>
      </div>
      <div class="col-xl-6">
        <div class="text-sm-right">
          <button type="button" class="btn btn-info mr-1">
            <span class="mdi mdi-cloud-upload"></span>
            Nhập
          </button>
          <button type="button" class="btn btn-info mr-1">
            <span class="mdi mdi-cloud-download"></span>
            Xuất
          </button>
          <a class="btn btn-success mr-1 button-link" (click)="openSmsCampaignModal()"
            ><i class="mdi mdi-plus-circle mr-1"></i> Thêm mới</a
          >
          <a
            class="btn btn-primary mr-1 button-link"
            [ngClass]="selectedStrategy ? '' : 'disabled'"
            (click)="openSmsCampaignModal(selectedStrategy)"
            ><i class="mdi mdi-square-edit-outline mr-1"></i> Cập nhật</a
          >
          <a
            class="btn btn-danger mr-1 button-link"
            [ngClass]="selectedStrategy ? '' : 'disabled'"
            (click)="openConfirmModal(selectedStrategy)"
            ><i class="mdi mdi-delete mr-1"></i> Xóa</a
          >
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-centered table-hover mb-0">
        <thead>
          <tr>
            <th>Nội dung</th>
            <th>Thành công</th>
            <th>Chi phí</th>
            <th>Thời gian gửi</th>
            <th>Trạng thái</th>
            <th>Đối tượng</th>
            <th>Người gửi</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let strategy of strategies"
            (click)="onClickStrategy(strategy)"
            [ngClass]="{
              'is-selected': strategy.smss_id === selectedStrategy?.smss_id
            }"
          >
            <td>
              {{ strategy.smss_title }}
            </td>
            <td>
              {{ strategy.smss_send_count }}
            </td>
            <td>
              {{ strategy.smss_cost }}
            </td>
            <td>
              {{ strategy.smss_send_date | date: 'dd/MM/yyyy' }}
            </td>
            <td>
              {{ strategy.smss_status_name }}
            </td>
            <td>
              {{ strategy.customer_group_name }}
            </td>
            <td>
              {{ strategy.staff_name }}
            </td>
          </tr>
          <tr *ngIf="strategies?.length === 0">
            <td colspan="7">Không có dữ liệu mẫu SMS</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ul class="pagination pagination-rounded justify-content-end my-3">
      <ngb-pagination
        (pageChange)="onPageChange($event)"
        [maxSize]="8"
        [pageSize]="pageSize"
        [(page)]="page"
        [collectionSize]="totalSize"
      ></ngb-pagination>
    </ul>
  </div>
</app-main-container>
