<app-main-container [hasBottom]="false">
  <div top class="card-body pb-2" style="height: 100%;">
    <div class="customer-detail">
      <div class="menu content mb-2" id="content">
        <div id="1" class="row title-section">
          <h5>Thông tin chung</h5>
        </div>
      </div>
      <div class="main">
        <div class="content mb-2" id="content">
          <div id="1" class="row title-section">
            <h5>Thông tin chung</h5>
          <i
              [ngClass]="listView[0] ? 'fe-edit ml-2' : 'fe-save ml-2'"
              (click)="switchViewType(0)"
            ></i>

          </div>
          <div [formGroup]="form">
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Tên vật tư <span>(*)</span></label>
                <div class="col-6">
                  <input
                    class="form-control"
                    formControlName="dev_name"
                    [readonly]="listView[0]"
                    [ngClass]="{
                      'is-invalid':
                        submitted && (form.controls.dev_name.errors)
                    }"
                  />
                  <div
                    *ngIf="submitted && (form.controls.dev_name.errors)"
                    class="invalid-feedback"
                  >
                    <span>Trường bắt buộc</span>
                  </div>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Đơn vị <span>(*)</span></label>
                <div class="col-6">
                  <select
                    class="custom-select"
                    formControlName="dev_unit"
                    [ngClass]="{
                      'is-invalid':
                        submitted && form.controls.dev_unit.errors
                    }"
                  >
                    <!-- <option value="">Đơn vị</option> -->
                    <option 
                      *ngFor="let unit of units" 
                      [disabled]="listView[0]"
                      [value]="unit.id">{{
                      unit.name
                    }}</option>
                  </select>
                  <div
                    *ngIf="submitted && form.controls.dev_unit.errors"
                    class="invalid-feedback"
                  >
                    <span *ngIf="form.controls.dev_unit.errors.required"
                      >Trường bắt buộc</span
                    >
                  </div>
                </div>
              </div>
              
            </div>
            <div class="form-row">
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Số lượng <span>(*)</span></label>
                <div class="col-6">
                  <input
                    onlyNumber
                    class="form-control"
                    id="example-number"
                    type="number"
                    [readonly]="listView[0]"
                    formControlName="dev_number"
                    style="width: 100%;"
                    [ngClass]="{
                      'is-invalid': submitted && form.controls.dev_number.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && form.controls.dev_number.errors"
                    class="invalid-feedback"
                  >
                    <span  *ngIf="form.controls.dev_number.errors.required ">Trường bắt buộc</span>
                    <span *ngIf="!form.controls.dev_number.errors.required ">Số lượng phải lớn hơn 0 </span>
                  </div>
                </div>
              </div>
              <div class="form-group row mb-3">
                <label class="col-4 col-form-label">Ghi chú</label>
                <div class="col-6">
                  <input 
                    class="form-control" 
                    formControlName="dev_note" 
                    [readonly]="listView[0]"/>
                </div>
              </div>
            </div>

          </div>
        </div>
        
        <div class="row justify-content-end mr-2">
          <div class="text-sm-right">
            <button
              class="btn btn-success mb-2 mr-1 button-link"
              [disabled]="!form.dirty"
              (click)="onSubmit()"
            >
              Lưu lại
            </button>
            <a class="btn btn-danger mb-2 mr-1 button-link" (click)="onChangeToMain()">Hủy </a>
          </div>
        </div>
      </div>
    </div>
   
  </div>
</app-main-container>
