:host {
    .form-inline {
        align-items: baseline;
        flex-flow: row;
    }

    .card {
        width: 100%;
    }

    .title {
        text-align: center;
        font-weight: bold;
    }

    .sub-title {
        font-weight: bold;
    }
}

::ng-deep .form-row {
    justify-content: space-around;

    .form-group {
        width: 50%;
    }
}