<div class="container-fluid">
  <app-page-title title="Mẫu Email" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="card" *ngIf="!viewChanged">
      <div class="card-body">
        <div class="col-sm-12">
          <div class="text-sm-right">
            <a class="btn btn-success mb-2 button-link" (click)="onChangeView(null, false)"
              ><i class="mdi mdi-plus-circle mr-1"></i> Thêm mới</a
            >
          </div>
          <!-- end col-->
        </div>

        <div class="table-responsive">
          <table class="table table-centered table-hover mb-0">
            <thead>
              <tr>
                <th>Tên mẫu</th>
                <th>Ngày tạo</th>
                <th>Người tạo</th>
                <th>Ngày sửa</th>
                <th>Người sửa</th>
                <th style="width: 105px;">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let template of paginatedTemplateData">
                <td>
                  {{ template.template_name }}
                </td>
                <td>
                  {{ template.created_date }}
                </td>
                <td>
                  {{ template.created_by }}
                </td>
                <td>
                  {{ template.updated_date }}
                </td>
                <td>
                  {{ template.updated_by }}
                </td>
                <td>
                  <a class="action-icon table-button-link" (click)="openTemplateModal(template)">
                    <i class="mdi mdi-eye"></i
                  ></a>
                  <a class="action-icon table-button-link" (click)="onChangeView(template, false)">
                    <i class="mdi mdi-square-edit-outline"></i
                  ></a>
                  <a class="action-icon table-button-link" (click)="openConfirmModal()">
                    <i class="mdi mdi-delete"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ul class="pagination pagination-rounded justify-content-end my-2">
          <ngb-pagination
            (pageChange)="onPageChange($event)"
            [maxSize]="8"
            [pageSize]="pageSize"
            [(page)]="page"
            [collectionSize]="totalSize"
          ></ngb-pagination>
        </ul>
      </div>
    </div>
    <div class="row" *ngIf="viewChanged">
      <div class="col-sm-3">
        <div class="card-box" style="padding: 1rem;">
          <div class="text-sm-left mb-2">
            <a class="mb-2" href="javascript: void(0);" (click)="onChangeView(null, true)"
              ><i class="fe-chevrons-left mr-1"></i>Quay lại</a
            >
          </div>
          <div class="title mt-2">Trường trộn</div>
          <div class="mb-2">
            <div class="sub-title">
              Nhân sự
            </div>
            <div class="row">
              <div class="col-lg-6 pl-3">
                <span class="badge badge-danger" (click)="onClickField('sta_fullname')"
                  ><i class="mdi mdi-hand-pointing-right"></i>sta_fullname
                </span>
              </div>
              <div class="col-lg-6">: Tên người gửi</div>
            </div>
            <div class="row">
              <div class="col-lg-6 pl-3">
                <span class="badge badge-danger" (click)="onClickField('sta_mobile')"
                  ><i class="mdi mdi-hand-pointing-right"></i> sta_mobile</span
                >
              </div>
              <div class="col-lg-6">: Điện thoại người gửi</div>
            </div>
            <div class="row">
              <div class="col-lg-6 pl-3">
                <span class="badge badge-danger" (click)="onClickField('sta_email')"
                  ><i class="mdi mdi-hand-pointing-right"></i> sta_email</span
                >
              </div>
              <div class="col-lg-6">: Email người gửi</div>
            </div>
          </div>
          <div class="mb-2">
            <div class="sub-title">
              Khách hàng
            </div>
            <div class="row">
              <div class="col-lg-6 pl-3">
                <span class="badge badge-danger" (click)="onClickField('cu_fullname')">
                  <i class="mdi mdi-hand-pointing-right"></i>cu_fullname
                </span>
              </div>
              <div class="col-lg-6">: Tên khách hàng</div>
            </div>
            <div class="row">
              <div class="col-lg-6 pl-3">
                <span class="badge badge-danger" (click)="onClickField('cu_email')">
                  <i class="mdi mdi-hand-pointing-right"></i> cu_email</span
                >
              </div>
              <div class="col-lg-6">: Email</div>
            </div>
            <div class="row">
              <div class="col-lg-6 pl-3">
                <span class="badge badge-danger" (click)="onClickField('cu_mobile')"
                  ><i class="mdi mdi-hand-pointing-right"></i> cu_mobile</span
                >
              </div>
              <div class="col-lg-6">: Số điện thoại</div>
            </div>
            <div class="row">
              <div class="col-lg-6 pl-3">
                <span class="badge badge-danger" (click)="onClickField('cu_address')">
                  <i class="mdi mdi-hand-pointing-right"></i>
                  cu_address
                </span>
              </div>
              <div class="col-lg-6">: Địa chỉ</div>
            </div>
            <div class="row">
              <div class="col-lg-6 pl-3">
                <span class="badge badge-danger" (click)="onClickField('cu_age')">
                  <i class="mdi mdi-hand-pointing-right"></i>
                  cu_age
                </span>
              </div>
              <div class="col-lg-6">: Ngày sinh</div>
            </div>
          </div>
          <div class="mb-2">
            <div class="sub-title">
              Liên hệ
            </div>
          </div>
          <div class="mb-2">
            <div class="sub-title">
              Đơn hàng
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-9">
        <div class="card-box">
          <app-ngx-editor
            [placeholder]="'Enter text '"
            [spellcheck]="true"
            [height]="'282px'"
            [(ngModel)]="editorValue"
          ></app-ngx-editor>
        </div>
      </div>
    </div>
  </div>
</div>
