<div class="">
  <h4 class="font-13 text-muted text-uppercase">About Me :</h4>
  <p class="mb-3">
    {{ selectedStaff?.sta_aboutme }}
  </p>

  <h4 class="font-13 text-muted text-uppercase mb-1">
    NGÀY SINH
  </h4>
  <p class="mb-3">
    {{ selectedStaff?.sta_birthday | date: 'MMMM dd, yyyy' }}
  </p>

  <h4 class="font-13 text-muted text-uppercase mb-1">PHÒNG BAN</h4>
  <p class="mb-3">{{ selectedStaff?.department_name }}</p>

  <h4 class="font-13 text-muted text-uppercase mb-1">NGÀY TẠO</h4>
  <p class="mb-3">
    {{ selectedStaff?.sta_created_date | date: 'dd/MM/yyyy' }}
  </p>

  <h4 class="font-13 text-muted text-uppercase mb-1">ĐỊA CHỈ</h4>
  <p class="mb-0">{{ selectedStaff?.sta_address }}</p>
</div>
