<div class="account-pages mt-5 mb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-pattern">
          <div class="card-body p-4">
            <!-- Logo -->
            <div class="text-center w-75 m-auto">
              <a routerLink="/">
                <img src="assets/images/1.JPG" alt="" height="30" />
              </a>
              <p class="text-muted mb-4 mt-3">
                Nhập tên đăng nhập và mật khẩu để truy cập trang quản trị
              </p>
            </div>

            <form
              class="needs-validation"
              name="loginForm"
              [formGroup]="loginForm"
              (ngSubmit)="onSubmit()"
              novalidate
            >
              <div class="form-group mb-3">
                <label for="username">Tên đăng nhập</label>

                <input
                  formControlName="username"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                  id="username"
                  placeholder="Tên đăng nhập"
                />

                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                  <div *ngIf="f.username.errors.required">
                    Trường tên đăng nhập không được để trống
                  </div>
                </div>
              </div>

              <div class="form-group mb-3">
                <label for="password">Mật khẩu</label>

                <input
                  type="password"
                  formControlName="password"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                  id="password"
                  placeholder="Mật khẩu"
                />

                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">
                    Trường mật khẩu không được để trống
                  </div>
                </div>
              </div>

              <div class="form-group mb-0 text-center">
                <button class="btn btn-primary btn-block" type="submit">
                  Đăng nhập
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12 text-center">
            <p>
              <a routerLink="/account/reset-password" class="text-white-50 ml-1">Quên mật khẩu?</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer footer-alt">
  2019-2020 Bản quyền thuộc
  <a href="" class="text-white-50">CoERP</a>
</footer>
