<div class="table-responsive" *ngIf="!selectedPurchase">
  <table class="table table-centered table-hover mb-0">
    <thead>
      <tr>
        <th>Thời gian</th>
        <th>Hình thức</th>
        <th>Nội dung</th>
        <th>Người chăm sóc</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let care of listTransaction">
        <td>
          {{ care.tra_datetime | date: 'dd/MM/yyyy' }}
        </td>
        <td>
          {{ care.tra_type_name }}
        </td>
        <td>
          {{ care.tra_content }}
        </td>
        <td>
          {{ care.staff_name }}
        </td>
      </tr>
      <tr *ngIf="listTransaction.length === 0">
        <td colspan="4">Không có dữ liệu giaod dịch</td>
      </tr>
    </tbody>
  </table>
</div>
