<div class="modal-header bg-dark">
  <h4 class="modal-title text-white">Chức vụ</h4>
  <button
    type="button"
    class="close text-white"
    aria-label="Close"
    (click)="onClickCancel()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-3">
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0">
      <thead>
        <tr>
          <th>STT</th>
          <th>Chức vụ</th>
          <th>Năng lực</th>
          <th>Khă năng</th>
          <th>Quyền hạn</th>
          <th>Nhiệm vụ</th>
          <th>Mô tả</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let position of positions; let i = index"
          (click)="onClickPosition(position)"
          [ngClass]="{
            'is-selected':
              position.position_id === selectedPosition?.position_id
          }"
        >
          <td>
            {{ i + 1 }}
          </td>
          <td>
            {{ position.position_name }}
          </td>
          <td>
            {{ position.capacity }}
          </td>
          <td>
            {{ position.ability }}
          </td>
          <td>
            {{ position.privilege }}
          </td>
          <td>
            {{ position.mission }}
          </td>
          <td>
            {{ position.description }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-right mt-3">
    <button
      [disabled]="!selectedPosition"
      class="btn btn-primary"
      (click)="openClickChoose()"
    >
      Chọn
    </button>
    <button class="btn btn-success ml-1" (click)="openPositionModal()">
      Thêm
    </button>
    <button
      [disabled]="!selectedPosition"
      class="btn btn-warning ml-1"
      (click)="openPositionModal(position)"
    >
      Sửa
    </button>
    <button
      [disabled]="!selectedPosition"
      class="btn btn-danger ml-1"
      (click)="openConfirmModal()"
    >
      Xóa
    </button>
    <button class="btn btn-danger ml-1" (click)="onClickCancel()">
      Đóng
    </button>
  </div>
</div>
