<!-- ========== Left Sidebar Start ========== -->
<ng-template #contentTemplate>
  <!--- Sidemenu -->
  <div id="sidebar-menu">
    <ul class="metismenu" id="side-menu" #sideMenu>
      <li>
        <a routerLink="/dashboard" routerLinkActive="active" aria-expanded="false">
          <i class="fe-airplay"></i>
          <span> Bảng tin </span>
        </a>
      </li>

      <li *ngIf="isAdmin">
        <a
          href="javascript: void(0);"
          aria-expanded="false"
          [ngClass]="hasArrow ? 'has-arrow' : ''"
        >
          <i class="fas fa-users-cog"></i>
          <span> Nhân sự </span>
        </a>
        <ul class="nav-second-level">
          <li>
            <a routerLink="/staff/list-staff">Thông tin nhân sự</a>
          </li>
          <li>
            <a routerLink="/staff/assigned-work">Công việc được giao</a>
          </li>
        </ul>
      </li>

      <li>
        <a
          href="javascript: void(0);"
          aria-expanded="false"
          [ngClass]="hasArrow ? 'has-arrow' : ''"
        >
          <i class="fe-users"></i>
          <span> Khách hàng </span>
        </a>
        <ul class="nav-second-level">
          <li>
            <a routerLink="/customer/customer-group">Nhóm khách hàng</a>
          </li>
          <li>
            <a routerLink="/customer/list-customer">Thông tin khách hàng</a>
          </li>
          <li>
            <a routerLink="/customer/customer-care">Chăm sóc khách hàng</a>
          </li>
        </ul>
      </li>

      <li>
        <a
          href="javascript: void(0);"
          aria-expanded="false"
          [ngClass]="hasArrow ? 'has-arrow' : ''"
        >
          <i class="fe-share-2"></i>
          <span> Marketing </span>
        </a>
        <ul class="nav-second-level">
          <li>
            <a
              href="javascript: void(0);"
              aria-expanded="false"
              [ngClass]="hasArrow ? 'has-arrow' : ''"
            >
              <i class="fe-mail"></i>
              <span> Email </span>
            </a>
            <ul>
              <li>
                <a routerLink="/marketing/email-template">Mẫu Email</a>
              </li>
              <li>
                <a routerLink="/marketing/email-campaign">Chiến dịch Email</a>
              </li>
              <li>
                <a href="javascript: void(0);">Thống kê</a>
              </li>
            </ul>
          </li>
          <li>
            <a
              href="javascript: void(0);"
              aria-expanded="false"
              [ngClass]="hasArrow ? 'has-arrow' : ''"
            >
              <i class="fas fa-mobile-alt"></i>
              <span> SMS </span>
            </a>
            <ul>
              <li>
                <a routerLink="/marketing/sms-template">Mẫu SMS</a>
              </li>
              <li>
                <a routerLink="/marketing/sms-campaign">Chiến dịch SMS</a>
              </li>
              <li>
                <a href="javascript: void(0);">Thống kê</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li *ngIf="isAdmin">
        <a
          href="javascript: void(0);"
          aria-expanded="false"
          [ngClass]="hasArrow ? 'has-arrow' : ''"
        >
          <i class="fas fa-id-badge"></i>
          <span> Nhà cung cấp </span>
        </a>
        <ul class="nav-second-level">
          <li>
            <a routerLink="/vendor/list-vendor">Thông tin nhà cung cấp</a>
          </li>
          <li>
            <a href="javascript: void(0);">Giao dịch với nhà cung cấp</a>
          </li>
        </ul>
      </li>

      <li *ngIf="isAdmin">
        <a
          href="javascript: void(0);"
          aria-expanded="false"
          [ngClass]="hasArrow ? 'has-arrow' : ''"
        >
          <i class="fas fa-list"></i>
          <span> Dịch vụ </span>
        </a>
        <ul class="nav-second-level">
          <li>
            <a routerLink="/service/list-service">Thông tin dịch vụ</a>
          </li>
          <li>
            <a routerLink="/service/order-service">Đặt dịch vụ</a>
          </li>
          <li>
            <a routerLink="/service/receive-work">Tiếp nhận công việc</a>
          </li>
          <li>
            <a href="javascript: void(0);">Báo cáo & Thống kê</a>
          </li>
        </ul>
      </li>

      <li>
        <a
          href="javascript: void(0);"
          aria-expanded="false"
          [ngClass]="hasArrow ? 'has-arrow' : ''"
        >
          <i class="fas fa-shopping-cart"></i>
          <span> Thương mại </span>
        </a>
        <ul class="nav-second-level">
          <li *ngIf="isAdmin">
            <a routerLink="/product/list-product">Thông tin sản phẩm</a>
          </li>
          <li>
            <a routerLink="/product/list-order">Đặt hàng</a>
          </li>
          <li *ngIf="isAdmin">
            <a routerLink="/product/product-statistic">Báo cáo & Thống kê</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- End Sidebar -->

  <div class="clearfix"></div>
</ng-template>

<div class="left-side-menu">
  <div class="slimscroll-menu" appSlimScroll *ngIf="!isCondensed">
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  </div>

  <div class="slimscroll-menu" *ngIf="isCondensed">
    <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
  </div>
</div>
<!-- Left Sidebar End -->
