<div class="modal-header bg-dark">
  <h4 class="modal-title text-white">{{ device ? 'Sửa' : 'Thêm' }} vật tư</h4>
  <button class="close text-white" aria-label="Close" (click)="onClickCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-3" [formGroup]="form">
  <div class="form-group row mb-3">
    <label class="col-4 col-form-label">Tên vật tư <span>(*)</span></label>
    <div class="col-8">
      <select
        class="custom-select"
        formControlName="device_id"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && form.controls.device_id.errors
        }"
        (change)="loadAllDevice()"
      >
      <option *ngFor="let device of devices" [value]="device.id">{{
        device.name
      }}</option>
      </select>
      <div *ngIf="submitted && formUI.device_id.errors" class="invalid-feedback">
        <span *ngIf="formUI.device_id.errors.required">Trường bắt buộc</span>
      </div>
    </div>
  </div>
  <!-- <div class="form-group row mb-3">
    <label class="col-4 col-form-label">Đơn vị <span>(*)</span></label>
    <div class="col-8">
      <select
      class="custom-select"
      formControlName="dev_unit"
      (change)="onChangeEvaluate($event)"
      [ngClass]="{
        'is-invalid':
          submitted && formUI.dev_unit.errors
      }"
      (change)="onChangeDevice($event)"
    >
       <option value="">Đơn vị</option> -->
      <!-- <option [value]="1">Bộ</option>
        <option [value]="2">Chiếc</option>
        <option [value]="3">Cái</option>
    </select>
    <div
    *ngIf="submitted && formUI.dev_unit.errors"
    class="invalid-feedback"
  >
    <span *ngIf="formUI.dev_unit.errors.required"
      >Trường bắt buộc</span
    >
  </div> --> 
    <!-- </div>
  </div> -->
  <div class="form-group row mb-3">
    <label class="col-4 col-form-label">Số lượng <span>(*)</span></label>
    <div class="col-6">
      <input
        class="form-control"
        id="example-number"
        type="number"
        [readonly]="listView[1]"
        formControlName="des_quantity"
        style="width: 100%;"
        [ngClass]="{
          'is-invalid': submitted && formUI.des_quantity.errors
        }"
      />
      <div
        *ngIf="submitted && formUI.des_quantity.errors"
        class="invalid-feedback"
      >
        <span>Trường bắt buộc</span>
      </div>
    </div>
  </div>
  <div class="form-group row mb-3">
    <label class="col-4 col-form-label">Ngày giao <span>(*)</span></label>
    <div class="col-8">
      <div class="input-group clockpicker mb-2 mr-1">
        <input
          ngbDatepicker
          readonly="true"
          class="form-control"
          placeholder="yyyy-mm-dd"
          #from="ngbDatepicker"
          name="from"
          formControlName="des_date"
          [ngClass]="{
            'is-invalid': submitted && formUI.des_date.errors
          }"
        />
        <div class="input-group-append" (click)="from.toggle()">
          <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
        </div>
        <div *ngIf="submitted && formUI.des_date.errors" class="invalid-feedback">
          <span *ngIf="formUI.des_date.errors.required">Trường bắt buộc</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row mb-3">
    <label class="col-4 col-form-label">Ghi chú</label>
    <div class="col-6">
      <input 
        class="form-control" 
        formControlName="des_note" 
        [readonly]="listView[1]"/>
    </div>
  </div>
  <div class="text-right mt-3">
    <button class="btn btn-success ml-1" (click)="onClickSubmit()">
      Lưu
    </button>
    <button class="btn btn-danger ml-1" (click)="onClickCancel()">
      Hủy
    </button>
  </div>
</div>
