<div class="modal-header bg-dark">
  <h4 class="modal-title text-white">Phòng ban</h4>
  <button
    type="button"
    class="close text-white"
    aria-label="Close"
    (click)="onClickCancel()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-3">
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0">
      <thead>
        <tr>
          <th>STT</th>
          <th>Tên phòng ban</th>
          <th>Mô tả</th>
          <th>Trưởng phòng</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let department of departments; let i = index"
          (click)="onClickDepartment(department)"
          [ngClass]="{
            'is-selected':
              department.department_id === selectedDepartment?.department_id
          }"
        >
          <td>
            {{ i + 1 }}
          </td>
          <td>
            {{ department.department_name }}
          </td>
          <td>
            {{ department.description }}
          </td>
          <td>
            {{ department.manager }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-right mt-3">
    <button
      [disabled]="!selectedDepartment"
      class="btn btn-primary"
      (click)="onClickChoose()"
    >
      Chọn
    </button>
    <button class="btn btn-success ml-1" (click)="openDepartmentModal()">
      Thêm
    </button>
    <button
      [disabled]="!selectedDepartment"
      class="btn btn-warning ml-1"
      (click)="openDepartmentModal(department)"
    >
      Sửa
    </button>
    <button
      [disabled]="!selectedDepartment"
      class="btn btn-danger ml-1"
      (click)="openConfirmModal()"
    >
      Xóa
    </button>
    <button class="btn btn-danger ml-1" (click)="onClickCancel()">
      Đóng
    </button>
  </div>
</div>
