:host {
  .product-statistic {
    margin-top: 10px;
    height: calc(100vh - 90px);
    background-color: lightgray;

    .detail {
      background-color: lightgreen;
      position: relative;

      .test {
        position: absolute;
        left: 50%;
        top: -23px;
        cursor: pointer;
        font-size: x-large;

        &.rotate {
          transform: rotate(180deg);
        }
      }
    }
  }
}
