<div class="product-statistic">
  <div [style.height.px]="containerHeight - height">
    Test
  </div>
  <div
    class="detail"
    mwlResizable
    [enableGhostResize]="true"
    resizeCursorPrecision="10"
    [resizeEdges]="{ bottom: false, right: false, top: true, left: false }"
    (resizeEnd)="onResizeEnd($event)"
    [style.height.px]="height"
  >
    <div
      class="fas fa-caret-square-up test"
      [ngClass]="height <= 10 ? '' : 'rotate'"
      (click)="onClickTest()"
    ></div>
  </div>
</div>
