<div class="modal-header bg-dark">
  <h4 class="modal-title text-white">
    {{ !staff ? 'Thêm mới' : 'Cập nhật' }} nhân sự
  </h4>
  <button
    type="button"
    class="close text-white"
    aria-label="Close"
    (click)="onClickCancel()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-3">
  <div class="text-left">
    <form [formGroup]="form" class="form-horizontal" autocomplete="off">
      <div class="form-group">
        <label for="avatar">Ảnh chân dung</label>
        <img
          class="d-flex mr-3 rounded-circle avatar-lg"
          src="assets/images/users/user-8.jpg"
          alt="Generic placeholder image"
        />
      </div>
      <div class="form-row">
        <div class="form-group row mb-3">
          <label class="col-4 col-form-label">Họ và tên <span>(*)</span></label>
          <div class="col-8">
            <input
              class="form-control"
              formControlName="sta_fullname"
              [ngClass]="{
                'is-invalid': submitted && formUI.sta_fullname.errors
              }"
            />
            <div
              *ngIf="submitted && formUI.sta_fullname.errors"
              class="invalid-feedback"
            >
              <span *ngIf="formUI.sta_fullname.errors.required"
                >This value is required.</span
              >
            </div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label class="col-4 col-form-label">Chức vụ <span>(*)</span></label>
          <div class="col-8">
            <select
              class="custom-select"
              formControlName="position_id"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && formUI.position_id.errors
              }"
            >
              <option *ngFor="let pos of positions" [value]="pos.pos_id">{{
                pos.pos_name
              }}</option>
            </select>
            <div
              *ngIf="submitted && formUI.position_id.errors"
              class="invalid-feedback"
            >
              <span *ngIf="formUI.position_id.errors.required"
                >This value is required.</span
              >
            </div>
          </div>
          <!-- <div class="col-2 pl-0">
            <a
              class="btn btn-success button-link"
              style="width: inherit;"
              (click)="openPositionModal()"
              ><i class="mdi mdi mdi-menu"></i
            ></a>
          </div> -->
        </div>
      </div>
      <div class="form-row">
        <div class="form-group row mb-3">
          <label class="col-4 col-form-label"
            >Tên đăng nhập <span>(*)</span></label
          >
          <div class="col-8">
            <input
              class="form-control"
              formControlName="sta_username"
              [ngClass]="{
                'is-invalid': submitted && formUI.sta_username.errors
              }"
            />
            <div
              *ngIf="submitted && formUI.sta_username.errors"
              class="invalid-feedback"
            >
              <span *ngIf="formUI.sta_username.errors.required"
                >This value is required.</span
              >
            </div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label class="col-4 col-form-label"
            >Trạng thái <span>(*)</span></label
          >
          <div class="col-8">
            <select
              class="custom-select"
              formControlName="sta_status"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && formUI.sta_status.errors
              }"
            >
              <option value="0">Khóa</option>
              <option value="1">Kích hoạt</option>
            </select>
            <div
              *ngIf="submitted && formUI.sta_status.errors"
              class="invalid-feedback"
            >
              <span *ngIf="formUI.sta_status.errors.required"
                >This value is required.</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group row mb-3">
          <label class="col-4 col-form-label">Mật khẩu <span>(*)</span></label>
          <div class="col-8">
            <input
              type=""
              class="form-control"
              formControlName="sta_password"
              [ngClass]="{
                'is-invalid': submitted && formUI.sta_password.errors
              }"
            />
            <div
              *ngIf="submitted && formUI.sta_password.errors"
              class="invalid-feedback"
            >
              <span *ngIf="formUI.sta_password.errors.required"
                >This value is required.</span
              >
            </div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label class="col-4 col-form-label">Giới tính</label>
          <div class="col-8">
            <select
              class="custom-select"
              formControlName="sta_sex"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && formUI.sta_sex.errors }"
            >
              <option value="0">Nam</option>
              <option value="1">Nữ</option>
              <option value="2">Giới tính khác</option>
            </select>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group row mb-3">
          <label for="department" class="col-4 col-form-label"
            >Phòng ban <span>(*)</span></label
          >
          <div class="col-8">
            <select
              class="custom-select"
              formControlName="department_id"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && formUI.department_id.errors
              }"
            >
              <option *ngFor="let dep of departments" [value]="dep.de_id">{{
                dep.de_name
              }}</option>
            </select>
            <div
              *ngIf="submitted && formUI.department_id.errors"
              class="invalid-feedback"
            >
              <span *ngIf="formUI.department_id.errors.required"
                >This value is required.</span
              >
            </div>
          </div>
          <!-- <div class="col-2 pl-0">
            <a
              class="btn btn-success button-link"
              style="width: inherit;"
              (click)="openDepartmentModal()"
              ><i class="mdi mdi mdi-menu"></i
            ></a>
          </div> -->
        </div>
        <div class="form-group row mb-3">
          <label for="dob" class="col-4 col-form-label">Ngày sinh</label>
          <div class="col-8">
            <div class="input-group clockpicker">
              <input
                ngbDatepicker
                class="form-control"
                autoClose="false"
                placeholder="yyyy-mm-dd"
                #date="ngbDatepicker"
                formControlName="sta_birthday"
              />
              <div class="input-group-append" (click)="date.toggle()">
                <span class="input-group-text"
                  ><i class="mdi mdi-calendar"></i
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row" style="font-weight: bold;">
        <div class="form-group">
          Thông tin liên hệ
        </div>
        <div class="form-group">
          Số CMND/ Thẻ căn cước
        </div>
      </div>
      <div class="form-row">
        <div class="form-group row mb-3">
          <label class="col-4 col-form-label"
            >Số điện thoại <span>(*)</span></label
          >
          <div class="col-8">
            <input
              class="form-control"
              formControlName="sta_mobile"
              [ngClass]="{
                'is-invalid': submitted && formUI.sta_mobile.errors
              }"
            />
            <div
              *ngIf="submitted && formUI.sta_mobile.errors"
              class="invalid-feedback"
            >
              <span *ngIf="formUI.sta_mobile.errors.required"
                >This value is required.</span
              >
            </div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label class="col-4 col-form-label">Số CMND/ Thẻ căn cước</label>
          <div class="col-8">
            <input
              class="form-control"
              formControlName="sta_identity_card"
              [ngClass]="{
                'is-invalid': submitted && formUI.sta_identity_card.errors
              }"
            />
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group row mb-3">
          <label class="col-4 col-form-label">Email</label>
          <div class="col-8">
            <input
              type="email"
              class="form-control"
              formControlName="sta_email"
              [ngClass]="{ 'is-invalid': submitted && formUI.sta_email.errors }"
            />
            <div
              *ngIf="submitted && formUI.sta_email.errors"
              class="invalid-feedback"
            >
              <span *ngIf="formUI.sta_email.errors.pattern"
                >This value is wrong format.</span
              >
            </div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label class="col-4 col-form-label">Ngày cấp</label>
          <div class="col-8">
            <div class="input-group clockpicker">
              <input
                ngbDatepicker
                class="form-control"
                autoClose="false"
                placeholder="yyyy-mm-dd"
                #date="ngbDatepicker"
                formControlName="sta_identity_card_date"
              />
              <div class="input-group-append" (click)="date.toggle()">
                <span class="input-group-text"
                  ><i class="mdi mdi-calendar"></i
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group row mb-3">
          <label class="col-4 col-form-label">Địa chỉ</label>
          <div class="col-8">
            <input
              class="form-control"
              formControlName="sta_address"
              [ngClass]="{
                'is-invalid': submitted && formUI.sta_address.errors
              }"
            />
          </div>
        </div>
        <div class="form-group row"></div>
      </div>
      <div class="text-right">
        <button
          (click)="onClickSubmit()"
          class="btn btn-success"
          [disabled]="!form.dirty || form.invalid"
        >
          Lưu
        </button>
        <button
          type="button"
          class="btn btn-danger ml-1"
          (click)="onClickCancel()"
        >
          Hủy
        </button>
      </div>
    </form>
  </div>
</div>
