:host {
  .main-container {
    margin-top: 10px;
    height: calc(100vh - 90px);
    background-color: #fff;

    .detail-container {
      padding: 10px;
      background-color: white;
      border-top: 5px solid #dee2e6;
      position: relative;
      z-index: 3;

      .button-toggle {
        position: absolute;
        left: 50%;
        top: -20px;
        cursor: pointer;
        font-size: x-large;
        border: 2px lightgray solid;
        width: 60px;
        height: 15px;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #fff;

        span {
          display: block;
          line-height: 0.5;

          &.rotate {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
}
