<div class="row justify-content-end">
  <a class="btn btn-success mb-2 button-link" (click)="openAddressModal()"
    ><i class="mdi mdi-plus-circle mr-1"></i> Thêm mới</a
  >
</div>
<div class="table-responsive">
  <table class="table table-centered table-hover mb-0">
    <thead>
      <tr>
        <th>Thành phố</th>
        <th>Quận/Huyện</th>
        <th>Phường/Xã</th>
        <th>Chi tiết</th>
        <th>Ghi chú</th>
        <th style="width: 82px">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let address of listAddress">
        <td>
          {{ address.unl_province }}
        </td>
        <td>
          {{ address.unl_district }}
        </td>
        <td>
          {{ address.unl_ward }}
        </td>
        <td>
          {{ address.unl_detail }}
        </td>
        <td>
          {{ address.unl_note }}
        </td>
        <td>
          <a class="action-icon table-button-link" (click)="openAddressModal(address)">
            <i class="mdi mdi-square-edit-outline"></i
          ></a>
          <a class="action-icon table-button-link" (click)="openConfirmModal(address)">
            <i class="mdi mdi-delete"></i
          ></a>
        </td>
      </tr>
      <tr *ngIf="listAddress.length === 0">
        <td colspan="6">Không có dữ liệu địa chỉ</td>
      </tr>
    </tbody>
  </table>
</div>
