:host {
  .card-body {
    padding: 0;
  }

  .service-detail {
    display: flex;
    height: 100%;

    .menu {
      width: 200px;
      border-right: 2px solid lightgray;

      .item {
        font-size: small;
        cursor: pointer;
        padding: 10px;

        &:hover {
          background-color: lightgrey;
          font-weight: 700;
        }

        &.is-selected {
          background-color: lightgray;
        }
      }
    }

    .main {
      width: 100%;
      max-height: 100%;
    }

    .content {
      height: calc(100% - 40px);
      overflow: auto;
      padding-left: 20px;

      .row {
        margin: 0;
      }

      .form-row {
        margin: 0;
      }

      span {
        color: red;

        i {
          color: initial;
        }
      }

      .title-section {
        padding: 5px 0px;
        align-items: center;

        input {
          width: 250px;
        }

        i {
          font-size: medium;
          cursor: pointer;
        }
      }

      .form-inline {
        align-items: baseline;
        flex-flow: row;
      }

      .icon {
        font-weight: bold;
        font-size: 20px;
      }

      .week-day {
        padding: 10px;
        background-color: #f1f5f7;
        border-radius: 50%;
        margin: 10px;
        border: none;

        &:hover {
          background-color: lightgrey;
        }

        &.is-selected {
          background-color: lightgrey;
        }
      }
      input[type=number].hi {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        border: none;
       
      }
      input[type=string].hi {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        border: none;
       
      }
      input[type=any].hi {
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.5;
        border: none;
       
      }
      .repeat-setting {
        input {
          &.small {
            max-width: 50px;
          }
        }
      }
    }

    .table-responsive {
      overflow: auto;
      max-height: 250px;

      table {
        border-spacing: 0;
        border-collapse: separate;
      }

      thead {
        th {
          position: sticky;
          top: 0;
          z-index: 2;
          background-color: white;
        }
      }

      tr {
        cursor: pointer;

        &.is-selected {
          background-color: lightgray;
        }
      }
    }
  }
}
