:host {
    .order-container {
        text-decoration: underline;
        cursor: pointer;
        color: darkblue;
        font-weight: bold;
    }

    .back-container {
        cursor: pointer;
        color: darkblue;
        font-weight: bold;
    }
}