<div class="topbar-menu">
  <div class="container-fluid">
    <div id="navigation" [ngbCollapse]="!showMobileMenu">
      <!-- Navigation Menu-->
      <ul class="navigation-menu">
        <li class="has-submenu">
          <a href="javascript: void(0);" (click)="onMenuClick($event)">
            <i class="fe-airplay"></i>Nhân sự
            <div class="arrow-down"></div
          ></a>
          <ul class="submenu">
            <li>
              <a
                routerLink=""
                class="side-nav-link-ref"
                routerLinkActive="active"
                >Dashboard 1</a
              >
            </li>
            <li>
              <a
                routerLink=""
                class="side-nav-link-ref"
                routerLinkActive="active"
                >Dashboard 2</a
              >
            </li>
            <li>
              <a
                routerLink=""
                class="side-nav-link-ref"
                routerLinkActive="active"
                >Dashboard 3</a
              >
            </li>
            <li>
              <a
                routerLink=""
                class="side-nav-link-ref"
                routerLinkActive="active"
                >Dashboard 4</a
              >
            </li>
          </ul>
        </li>
        <li class="has-submenu">
          <a href="javascript: void(0);" (click)="onMenuClick($event)">
            <i class="fe-grid"></i>Khách hàng
            <div class="arrow-down"></div
          ></a>
          <ul class="submenu">
            <li class="has-submenu">
              <a href="javascript: void(0);" (click)="onMenuClick($event)"
                >CRM
                <div class="arrow-down"></div
              ></a>
              <ul class="submenu">
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Dashboard</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Contacts</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Opportunities</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Leads</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Customers</a
                  >
                </li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href="javascript: void(0);" (click)="onMenuClick($event)"
                >Sản phẩm
                <div class="arrow-down"></div
              ></a>
              <ul class="submenu">
                <li>
                  <a
                    routerLink=""
                    class="side-nav-link-ref"
                    routerLinkActive="active"
                    >Dashboard</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/"
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Products</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Product Detail</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Product Edit</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Orders</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Sellers</a
                  >
                </li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href="javascript: void(0);" (click)="onMenuClick($event)"
                >Email
                <div class="arrow-down"></div
              ></a>
              <ul class="submenu">
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Inbox</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Read Email</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Compose Email</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <a
                routerLink=""
                routerLinkActive="active"
                class="side-nav-link-ref"
                >Kanban Board</a
              >
            </li>
            <li>
              <a
                routerLink=""
                routerLinkActive="active"
                class="side-nav-link-ref"
                >Calendar</a
              >
            </li>
            <li>
              <a
                routerLink=""
                routerLinkActive="active"
                class="side-nav-link-ref"
                >Contacts</a
              >
            </li>
            <li>
              <a
                routerLink=""
                routerLinkActive="active"
                class="side-nav-link-ref"
                >Projects</a
              >
            </li>
            <li>
              <a
                routerLink=""
                routerLinkActive="active"
                class="side-nav-link-ref"
                >Tickets</a
              >
            </li>
            <li>
              <a
                routerLink=""
                routerLinkActive="active"
                class="side-nav-link-ref"
                >Companies</a
              >
            </li>
          </ul>
        </li>
        <li class="has-submenu">
          <a href="javascript: void(0);" (click)="onMenuClick($event)">
            <i class="fe-briefcase"></i>Sản phẩm
            <div class="arrow-down"></div
          ></a>
          <ul class="submenu megamenu">
            <li>
              <ul>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Buttons</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Cards</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Portlets</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Tabs & Accordions</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Modals</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Progress</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <ul>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Notifications</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Images</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Carousel</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Embed Video</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Dropdowns</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Spinners</a
                  >
                </li>
              </ul>
            </li>
            <li>
              <ul>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Ribbons</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Tooltips & Popovers</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >General UI</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Typography</a
                  >
                </li>
                <li>
                  <a
                    routerLink=""
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Grid</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
      <!-- End navigation menu -->

      <div class="clearfix"></div>
    </div>
    <!-- end #navigation -->
  </div>
  <!-- end container -->
</div>
<!-- end navbar-custom -->
