<div class="topbar-menu">
  <div class="container-fluid">
    <div id="navigation" [ngbCollapse]="!showMobileMenu">
      <!-- Navigation Menu-->
      <ul class="navigation-menu">
        <li class="has-submenu">
          <a routerLink="/dashboard" routerLinkActive="active">
            <i class="fe-bar-chart"></i>Bảng tin</a
          >
        </li>
        <li class="has-submenu">
          <a href="javascript: void(0);" (click)="onMenuClick($event)">
            <i class="fe-airplay"></i>Nhân sự
            <div class="arrow-down"></div
          ></a>
          <ul class="submenu">
            <li>
              <a
                routerLink="/staff/list-staff"
                class="side-nav-link-ref"
                routerLinkActive="active"
                >Thông tin nhân sự</a
              >
            </li>
          </ul>
        </li>
        <li class="has-submenu">
          <a href="javascript: void(0);" (click)="onMenuClick($event)">
            <i class="fe-grid"></i>Khách hàng
            <div class="arrow-down"></div
          ></a>
          <ul class="submenu">
            <li>
              <a
                routerLink="/customer/list-customer"
                routerLinkActive="active"
                class="side-nav-link-ref"
                >Thông tin khách hàng</a
              >
            </li>
          </ul>
        </li>
        <li class="has-submenu">
          <a href="javascript: void(0);" (click)="onMenuClick($event)">
            <i class="fe-briefcase"></i>Sản phẩm
            <div class="arrow-down"></div
          ></a>
          <ul class="submenu">
            <li>
              <a
                routerLink="/product/list-product"
                routerLinkActive="active"
                class="side-nav-link-ref"
                >Thông tin sản phẩm</a
              >
            </li>
            <li>
              <a
                routerLink="/product/list-order"
                routerLinkActive="active"
                class="side-nav-link-ref"
                >Đặt hàng</a
              >
            </li>
            <li>
              <a
                routerLink="/product/list-vendor"
                routerLinkActive="active"
                class="side-nav-link-ref"
                >Nhà cung cấp</a
              >
            </li>
          </ul>
        </li>
        <li class="has-submenu">
          <a href="javascript: void(0);" (click)="onMenuClick($event)">
            <i class="fe-grid"></i>Dịch vụ
            <div class="arrow-down"></div
          ></a>
          <ul class="submenu">
            <li>
              <a
                routerLink="/service/list-service"
                routerLinkActive="active"
                class="side-nav-link-ref"
                >Thông tin dịch vụ</a
              >
            </li>
            <li>
              <a
                routerLink="/service/order-service"
                routerLinkActive="active"
                class="side-nav-link-ref"
                >Đặt dịch vụ</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <!-- End navigation menu -->

      <div class="clearfix"></div>
    </div>
    <!-- end #navigation -->
  </div>
  <!-- end container -->
</div>
<!-- end navbar-custom -->
