<div class="topbar-menu">
  <div class="container-fluid">
    <div id="navigation" [ngbCollapse]="!showMobileMenu">
      <!-- Navigation Menu-->
      <ul class="navigation-menu">
        <!-- Dashboard menu -->
        <li class="has-submenu">
          <a routerLink="/dashboard" routerLinkActive="active">
            <i class="fe-bar-chart"></i>Bảng tin</a
          >
        </li>

        <!-- Staff menu -->
        <li class="has-submenu">
          <a href="javascript: void(0);" (click)="onMenuClick($event)">
            <i class="fe-airplay"></i>Nhân sự
            <div class="arrow-down"></div
          ></a>
          <ul class="submenu">
            <li>
              <a routerLink="/staff/list-staff" class="side-nav-link-ref" routerLinkActive="active"
                >Thông tin nhân sự</a
              >
            </li>
          </ul>
        </li>

        <!-- Customer menu -->
        <li class="has-submenu">
          <a href="javascript: void(0);" (click)="onMenuClick($event)">
            <i class="fe-grid"></i>Khách hàng
            <div class="arrow-down"></div
          ></a>
          <ul class="submenu">
            <li>
              <a
                routerLink="/customer/customer-group"
                routerLinkActive="active"
                class="side-nav-link-ref"
                >Nhóm khách hàng</a
              >
            </li>
            <li>
              <a
                routerLink="/customer/list-customer"
                routerLinkActive="active"
                class="side-nav-link-ref"
                >Thông tin khách hàng</a
              >
            </li>
            <li>
              <a
                routerLink="/customer/customer-care"
                routerLinkActive="active"
                class="side-nav-link-ref"
                >Chăm sóc khách hàng</a
              >
            </li>
          </ul>
        </li>

        <!-- Marketing menu -->
        <li class="has-submenu">
          <a href="javascript: void(0);" (click)="onMenuClick($event)">
            <i class="fe-grid"></i>Marketing
            <div class="arrow-down"></div
          ></a>
          <ul class="submenu">
            <li class="has-submenu">
              <a href="javascript: void(0);" (click)="onMenuClick($event)"
                >Email
                <div class="arrow-down"></div
              ></a>
              <ul class="submenu">
                <li>
                  <a
                    routerLink="/marketing/email-template"
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Mẫu Email</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/marketing/email-campaign"
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Chiến dịch Email</a
                  >
                </li>
                <li>
                  <a href="javascript: void(0);" class="side-nav-link-ref">Thống kê</a>
                </li>
              </ul>
            </li>
            <li class="has-submenu">
              <a href="javascript: void(0);" (click)="onMenuClick($event)"
                >SMS
                <div class="arrow-down"></div
              ></a>
              <ul class="submenu">
                <li>
                  <a
                    routerLink="/marketing/sms-template"
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Mẫu SMS</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/marketing/sms-campaign"
                    routerLinkActive="active"
                    class="side-nav-link-ref"
                    >Chiến dịch SMS</a
                  >
                </li>
                <li>
                  <a href="javascript: void(0);" class="side-nav-link-ref">Thống kê</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- Vendor menu -->
        <li class="has-submenu">
          <a href="javascript: void(0);" (click)="onMenuClick($event)">
            <i class="fe-grid"></i>Nhà cung cấp
            <div class="arrow-down"></div
          ></a>
          <ul class="submenu">
            <li>
              <a
                routerLink="/vendor/list-vendor"
                routerLinkActive="active"
                class="side-nav-link-ref"
                >Thông tin nhà cung cấp</a
              >
            </li>
            <li>
              <a href="javascript: void(0);" class="side-nav-link-ref"
                >Giao dịch với nhà cung cấp</a
              >
            </li>
          </ul>
        </li>

        <!-- Service menu -->
        <li class="has-submenu">
          <a href="javascript: void(0);" (click)="onMenuClick($event)">
            <i class="fe-grid"></i>Dịch vụ
            <div class="arrow-down"></div
          ></a>
          <ul class="submenu">
            <li>
              <a
                routerLink="/service/list-service"
                routerLinkActive="active"
                class="side-nav-link-ref"
                >Thông tin dịch vụ</a
              >
            </li>
            <li>
              <a
                routerLink="/service/order-service"
                routerLinkActive="active"
                class="side-nav-link-ref"
                >Đặt dịch vụ</a
              >
            </li>
            <li>
              <a href="javascript: void(0);" class="side-nav-link-ref">Báo cáo & Thống kê</a>
            </li>
          </ul>
        </li>

        <!-- Commerce menu -->
        <li class="has-submenu">
          <a href="javascript: void(0);" (click)="onMenuClick($event)">
            <i class="fe-briefcase"></i>Thương mại
            <div class="arrow-down"></div
          ></a>
          <ul class="submenu">
            <li>
              <a
                routerLink="/product/list-product"
                routerLinkActive="active"
                class="side-nav-link-ref"
                >Thông tin sản phẩm</a
              >
            </li>
            <li>
              <a
                routerLink="/product/list-order"
                routerLinkActive="active"
                class="side-nav-link-ref"
                >Đặt hàng</a
              >
            </li>
            <li>
              <a href="javascript: void(0);" class="side-nav-link-ref">Báo cáo & Thống kê</a>
            </li>
          </ul>
        </li>
        <!--
        <!-- Asset menu
        <li class="has-submenu">
          <a href="javascript: void(0);" (click)="onMenuClick($event)">
            <i class="fe-briefcase"></i>Tài sản
            <div class="arrow-down"></div
          ></a>
          <ul class="submenu">
            <li>
              <a href="javascript: void(0);" class="side-nav-link-ref"
                >Quản lý tài sản</a
              >
            </li>
          </ul>
        </li>

        <!-- Mail menu
        <li class="has-submenu">
          <a href="javascript: void(0);" (click)="onMenuClick($event)">
            <i class="fe-briefcase"></i>Văn thư
            <div class="arrow-down"></div
          ></a>
          <ul class="submenu">
            <li>
              <a
                routerLink="/mail/mail-inbox"
                routerLinkActive="active"
                class="side-nav-link-ref"
                >Văn thư đến</a
              >
            </li>
            <li>
              <a href="javascript: void(0);" class="side-nav-link-ref"
                >Văn thư đi</a
              >
            </li>
          </ul>
        </li> -->
      </ul>
      <!-- End navigation menu -->

      <div class="clearfix"></div>
    </div>
    <!-- end #navigation -->
  </div>
  <!-- end container -->
</div>
<!-- end navbar-custom -->
