<div class="container-fluid">
  <app-page-title title="Giao dịch khách hàng" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-md-7">
            <form class="form-inline">
              <div class="form-group mb-2">
                <input
                  class="form-control"
                  name="textSearch"
                  placeholder="Tìm kiếm..."
                  [(ngModel)]="textSearch"
                  (input)="onChangeFilter()"
                />
              </div>
            </form>
          </div>
          <div class="col-md-5">
            <div class="text-sm-right">
              <button type="button" class="btn btn-info mb-2 mr-1">
                Xuất
              </button>
              <a class="btn btn-success mb-2 button-link" (click)="openCustomerCareModal()"
                ><i class="mdi mdi-plus-circle mr-1"></i> Thêm mới</a
              >
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-centered table-hover mb-0">
            <thead>
              <tr>
                <th>STT</th>
                <th>Tiêu đề</th>
                <th>Nội dung</th>
                <th>Đánh giá</th>
                <th>Loại giao dịch</th>
                <th>Kết quả</th>
                <th>Mức độ ưu tiên</th>
                <th>Phụ trách</th>
                <th>Khách hàng</th>
                <th>Trạng thái</th>
                <th style="width: 105px;">Thao tác</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let care of customerCares; let i = index">
                <td>
                  {{ i + 1 }}
                </td>
                <td>
                  {{ care.title }}
                </td>
                <td>
                  {{ care.content }}
                </td>
                <td>
                  {{ care.rate }}
                </td>
                <td>
                  {{ care.type }}
                </td>
                <td>
                  {{ care.result }}
                </td>
                <td>
                  {{ care.priority }}
                </td>
                <td>
                  {{ care.assignee }}
                </td>
                <td>
                  {{ care.customer }}
                </td>
                <td>
                  {{ care.status }}
                </td>
                <td>
                  <a class="action-icon table-button-link" (click)="openCustomerCareModal(care)">
                    <i class="mdi mdi-eye"></i
                  ></a>
                  <a class="action-icon table-button-link" (click)="openCustomerCareModal(care)">
                    <i class="mdi mdi-square-edit-outline"></i
                  ></a>
                  <a class="action-icon table-button-link" (click)="openConfirmModal(care)">
                    <i class="mdi mdi-delete"></i
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ul class="pagination pagination-rounded justify-content-end my-2">
          <ngb-pagination
            (pageChange)="onPageChange($event)"
            [pageSize]="pageSize"
            [(page)]="page"
            [collectionSize]="totalSize"
          ></ngb-pagination>
        </ul>
      </div>
    </div>
  </div>
</div>
