<div class="modal-header bg-dark">
  <h4 class="modal-title text-white">
    {{ !product ? 'Thêm mới' : 'Cập nhật' }} sản phẩm
  </h4>
  <button
    type="button"
    class="close text-white"
    aria-label="Close"
    (click)="onClickCancel()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-3">
  <div class="text-left">
    <form [formGroup]="form" class="form-horizontal" autocomplete="off">
      <div class="form-group">
        <label for="avatar">Ảnh chân dung</label>
        <img
          class="d-flex mr-3 rounded-circle avatar-lg"
          src="assets/images/users/user-8.jpg"
          alt="Generic placeholder image"
        />
      </div>
      <div class="form-row">
        <div class="form-group row mb-3">
          <label class="col-4 col-form-label"
            >Tên sản phẩm <span>(*)</span></label
          >
          <div class="col-8">
            <input
              class="form-control"
              formControlName="pu_name"
              [ngClass]="{
                'is-invalid': submitted && formUI.pu_name.errors
              }"
            />
            <div
              *ngIf="submitted && formUI.pu_name.errors"
              class="invalid-feedback"
            >
              <span *ngIf="formUI.pu_name.errors.required"
                >This value is required.</span
              >
            </div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label class="col-4 col-form-label">Đơn vị <span>(*)</span></label>
          <div class="col-8">
            <select
              class="custom-select"
              formControlName="pu_unit"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && formUI.pu_unit.errors }"
            >
              <option *ngFor="let unit of units" [value]="unit.id">{{
                unit.name
              }}</option>
            </select>
            <div
              *ngIf="submitted && formUI.pu_unit.errors"
              class="invalid-feedback"
            >
              <span *ngIf="formUI.pu_unit.errors.required"
                >This value is required.</span
              >
            </div>
          </div>
          <!-- <div class="col-2 pl-0">
            <a
              class="btn btn-success button-link"
              style="width: inherit;"
              (click)="openUnitModal()"
              ><i class="mdi mdi mdi-menu"></i
            ></a>
          </div> -->
        </div>
      </div>
      <div class="form-row">
        <div class="form-group row mb-3">
          <label class="col-4 col-form-label">Số lượng <span>(*)</span></label>
          <div class="col-8">
            <input
              class="form-control"
              formControlName="pu_quantity"
              [ngClass]="{
                'is-invalid': submitted && formUI.pu_quantity.errors
              }"
            />
            <div
              *ngIf="submitted && formUI.pu_quantity.errors"
              class="invalid-feedback"
            >
              <span *ngIf="formUI.pu_quantity.errors.required"
                >This value is required.</span
              >
            </div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label class="col-4 col-form-label"
            >Loại sản phẩm <span>(*)</span></label
          >
          <div class="col-8">
            <select
              class="custom-select"
              formControlName="product_category_id"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && formUI.product_category_id.errors
              }"
            >
              <option
                *ngFor="let category of categories"
                [value]="category.id"
                >{{ category.name }}</option
              >
            </select>
            <div
              *ngIf="submitted && formUI.product_category_id.errors"
              class="invalid-feedback"
            >
              <span *ngIf="formUI.product_category_id.errors.required"
                >This value is required.</span
              >
            </div>
          </div>
          <!-- <div class="col-2 pl-0">
            <a
              class="btn btn-success button-link"
              style="width: inherit;"
              (click)="openProductTypeModal()"
              ><i class="mdi mdi mdi-menu"></i
            ></a>
          </div> -->
        </div>
      </div>
      <div class="form-row">
        <div class="form-group row mb-3">
          <label class="col-4 col-form-label">Giá nhập <span>(*)</span></label>
          <div class="col-8">
            <input
              class="form-control"
              formControlName="pu_buy_price"
              [ngClass]="{
                'is-invalid': submitted && formUI.pu_buy_price.errors
              }"
            />
            <div
              *ngIf="submitted && formUI.pu_buy_price.errors"
              class="invalid-feedback"
            >
              <span *ngIf="formUI.pu_buy_price.errors.required"
                >This value is required.</span
              >
            </div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label class="col-4 col-form-label"
            >Nhà cung cấp <span>(*)</span></label
          >
          <div class="col-8">
            <select
              class="custom-select"
              formControlName="provider_id"
              class="form-control"
              [ngClass]="{
                'is-invalid': submitted && formUI.provider_id.errors
              }"
            >
              <option
                *ngFor="let supplier of suppliers"
                [value]="supplier.id"
                >{{ supplier.name }}</option
              >
            </select>
            <div
              *ngIf="submitted && formUI.provider_id.errors"
              class="invalid-feedback"
            >
              <span *ngIf="formUI.provider_id.errors.required"
                >This value is required.</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group row mb-3">
          <label for="department" class="col-4 col-form-label"
            >Giá bán <span>(*)</span></label
          >
          <div class="col-8">
            <input
              class="form-control"
              formControlName="pu_sale_price"
              [ngClass]="{
                'is-invalid': submitted && formUI.pu_sale_price.errors
              }"
            />
            <div
              *ngIf="submitted && formUI.pu_sale_price.errors"
              class="invalid-feedback"
            >
              <span *ngIf="formUI.pu_sale_price.errors.required"
                >This value is required.</span
              >
            </div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="dob" class="col-4 col-form-label">Ngày hết hạn</label>
          <div class="col-8">
            <div class="input-group clockpicker">
              <input
                ngbDatepicker
                class="form-control"
                autoClose="false"
                placeholder="yyyy-mm-dd"
                #date="ngbDatepicker"
                formControlName="pu_expired_date"
              />
              <div class="input-group-append" (click)="date.toggle()">
                <span class="input-group-text"
                  ><i class="mdi mdi-calendar"></i
                ></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group row mb-3">
          <label for="department" class="col-4 col-form-label"
            >Thuế <span>(*)</span></label
          >
          <div class="col-8">
            <input
              class="form-control"
              formControlName="pu_tax"
              [ngClass]="{ 'is-invalid': submitted && formUI.pu_tax.errors }"
            />
            <div
              *ngIf="submitted && formUI.pu_tax.errors"
              class="invalid-feedback"
            >
              <span *ngIf="formUI.pu_tax.errors.required"
                >This value is required.</span
              >
            </div>
          </div>
        </div>
        <div class="form-group row mb-3">
          <label for="dob" class="col-4 col-form-label">Cân nặng</label>
          <div class="col-8">
            <input
              class="form-control"
              formControlName="pu_weight"
              [ngClass]="{ 'is-invalid': submitted && formUI.pu_weight.errors }"
            />
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group row mb-3">
          <label for="department" class="col-4 col-form-label"
            >Khuyến mãi</label
          >
          <div class="col-8">
            <input
              class="form-control"
              formControlName="pu_saleoff"
              [ngClass]="{
                'is-invalid': submitted && formUI.pu_saleoff.errors
              }"
            />
          </div>
        </div>
        <div class="form-group row mb-3"></div>
      </div>
      <div class="form-row" style="font-weight: bold;">
        <div class="form-group">
          Mô tả về sản phẩm
        </div>
        <div class="form-group"></div>
      </div>
      <div class="form-row">
        <div class="form-group row mb-3" style="width: 100%;">
          <label class="col-2 col-form-label">Mô tả ngắn</label>
          <div class="col-10">
            <input
              class="form-control"
              formControlName="pu_short_description"
              [ngClass]="{
                'is-invalid': submitted && formUI.pu_short_description.errors
              }"
            />
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group row mb-3" style="width: 100%;">
          <label class="col-2 col-form-label">Mô tả chi tiết</label>
          <div class="col-10">
            <input
              class="form-control"
              formControlName="pu_description"
              [ngClass]="{
                'is-invalid': submitted && formUI.pu_description.errors
              }"
            />
          </div>
        </div>
      </div>
      <div class="text-right">
        <button (click)="onClickSubmit()" class="btn btn-success">
          Lưu
        </button>
        <button
          type="button"
          class="btn btn-danger ml-1"
          (click)="onClickCancel()"
        >
          Hủy
        </button>
      </div>
    </form>
  </div>
</div>
