<div class="modal-header bg-dark">
  <h4 class="modal-title text-white">{{ training ? 'Sửa' : 'Thêm' }} khóa học</h4>
  <button class="close text-white" aria-label="Close" (click)="onClickCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-3" [formGroup]="form">
  <div class="form-group row mb-3">
    <label class="col-4 col-form-label">Tên khóa học <span>(*)</span></label>
    <div class="col-8">
      <input
        class="form-control"
        formControlName="tn_name"
        [ngClass]="{
          'is-invalid': submitted && form.controls.tn_name.errors
        }"
      />
      <div *ngIf="submitted && form.controls.tn_name.errors" class="invalid-feedback">
        <span *ngIf="form.controls.tn_name.errors.required">Trường bắt buộc</span>
      </div>
    </div>
  </div>
  <div class="form-group row mb-3">
    <label class="col-4 col-form-label">Nội dung khóa học <span>(*)</span></label>
    <div class="col-8">
      <input
        class="form-control"
        formControlName="tn_content"
        [ngClass]="{
          'is-invalid': submitted && form.controls.tn_content.errors
        }"
      />
      <div *ngIf="submitted && form.controls.tn_content.errors" class="invalid-feedback">
        <span *ngIf="form.controls.tn_content.errors.required">Trường bắt buộc</span>
      </div>
    </div>
  </div>
  <div class="form-group row mb-3">
    <label class="col-4 col-form-label">Từ ngày <span>(*)</span></label>
    <div class="col-8">
      <div class="input-group clockpicker mb-2 mr-1">
        <input
          ngbDatepicker
          readonly="true"
          class="form-control"
          placeholder="yyyy-mm-dd"
          #from="ngbDatepicker"
          name="from"
          [maxDate]="tn_end_date"
          formControlName="tn_start_date"
          [ngClass]="{
            'is-invalid': submitted && form.controls.tn_start_date.errors
          }"
        />
        <div class="input-group-append" (click)="from.toggle()">
          <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
        </div>
        <div *ngIf="submitted && form.controls.tn_start_date.errors" class="invalid-feedback">
          <span *ngIf="form.controls.tn_start_date.errors.required">Trường bắt buộc</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row mb-3">
    <label class="col-4 col-form-label">Đến ngày <span>(*)</span></label>
    <div class="col-8">
      <div class="input-group clockpicker mb-2">
        <input
          ngbDatepicker
          readonly="true"
          class="form-control"
          placeholder="yyyy-mm-dd"
          #to="ngbDatepicker"
          name="to"
          [minDate]="tn_start_date"
          formControlName="tn_end_date"
          [ngClass]="{
            'is-invalid': submitted && form.controls.tn_end_date.errors
          }"
        />
        <div class="input-group-append" (click)="to.toggle()">
          <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
        </div>
        <div *ngIf="submitted && form.controls.tn_end_date.errors" class="invalid-feedback">
          <span *ngIf="form.controls.tn_end_date.errors.required">Trường bắt buộc</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row mb-3">
    <label class="col-4 col-form-label">Mục đích khóa học</label>
    <div class="col-8">
      <input class="form-control" formControlName="tn_purpose" />
    </div>
  </div>
  <div class="text-right mt-3">
    <button class="btn btn-success ml-1" (click)="onClickSubmit()">
      Lưu
    </button>
    <button class="btn btn-danger ml-1" (click)="onClickCancel()">
      Hủy
    </button>
  </div>
</div>
