<div class="modal-header bg-dark">
  <h4 class="modal-title text-white">
    {{ !order ? 'Thêm mới' : isView ? 'Xem' : 'Cập nhật' }} đơn hàng
  </h4>
  <button type="button" class="close text-white" aria-label="Close" (click)="onClickCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-3">
  <!-- #6658dd -->
  <ngb-tabset justify="justified" (tabChange)="onChangeTab($event)" [activeId]="activeTabId">
    <ngb-tab title="1. Thông tin khách hàng" id="1">
      <ng-template ngbTabContent>
        <ng-template [ngTemplateOutlet]="Tab1"></ng-template>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="2. Thông tin đơn hàng" id="2">
      <ng-template ngbTabContent>
        <ng-template [ngTemplateOutlet]="Tab2"></ng-template>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="3. Hóa đơn" id="3">
      <ng-template ngbTabContent>
        <ng-template [ngTemplateOutlet]="Tab3"></ng-template>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>

<ng-template #Tab1>
  <ngb-progressbar
    type="success"
    [value]="33.33"
    [striped]="true"
    [animated]="true"
  ></ngb-progressbar>
  <div class="row mt-2 mb-2" *ngIf="!isView">
    <div class="col-lg-8">
      <form class="form-inline row">
        <div class="form-group col-sm-auto">
          <select
            class="custom-select"
            name="searchCustomer"
            [(ngModel)]="searchCustomer"
            (change)="changeDatalistCustomer($event)"
          >
            <option value="">Chọn khách hàng</option>
            <option *ngFor="let customer of customers" [value]="customer.cu_id">{{
              customer.cu_fullname
            }}</option>
          </select>
        </div>
        <div class="form-group col-sm-auto">
          <label for="status-select" class="mr-2">Sắp xếp</label>
          <select class="custom-select">
            <option selected="">Tất cả</option>
            <option value="1">Khách quen</option>
            <option value="2">Khách VIP</option>
            <option value="3">Khách BNI</option>
            <option value="4">Khách khác</option>
          </select>
        </div>
      </form>
    </div>
    <div class="col-lg-4">
      <div class="text-lg-right mt-3 mt-lg-0">
        <button type="button" class="btn btn-success mr-1">
          <i class="mdi mdi-settings"></i>
        </button>
        <a (click)="onClickCreateCustomer()" class="btn btn-danger button-link"
          ><i class="mdi mdi-plus-circle mr-1"></i> Thêm mới</a
        >
      </div>
    </div>
  </div>
  <h5 class="mb-3 text-uppercase bg-light p-2" *ngIf="selectedCustomer">
    <i class="mdi mdi-account-circle mr-1"></i> Thông tin cá nhân
  </h5>
  <div [formGroup]="formCustomer" *ngIf="selectedCustomer">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>Họ và tên</label>
          <input
            [readonly]="readOnly"
            class="form-control"
            formControlName="cu_fullname"
            placeholder="Nhập họ và tên"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Số điện thoại</label>
          <input
            [readonly]="readOnly"
            class="form-control"
            formControlName="cu_mobile"
            placeholder="Nhập số điện thoại"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Email</label>
          <input
            [readonly]="readOnly"
            class="form-control"
            formControlName="cu_email"
            placeholder="Nhập email"
          />
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Ngày sinh</label>
          <div class="input-group clockpicker">
            <input
              ngbDatepicker
              [readonly]="readOnly"
              class="form-control"
              autoClose="false"
              placeholder="yyyy-mm-dd"
              #dateDob="ngbDatepicker"
              formControlName="cu_birthday"
            />
            <div class="input-group-append" (click)="!readOnly && dateDob.toggle()">
              <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>Nhóm khách hàng</label>
          <select class="custom-select" formControlName="customer_group_id">
            <option [disabled]="readOnly" *ngFor="let group of groups" [value]="group.cg_id">{{
              group.cg_name
            }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Nguồn khách hàng</label>
          <select class="custom-select" formControlName="source_id">
            <option [disabled]="readOnly" *ngFor="let source of sources" [value]="source.src_id">{{
              source.src_name
            }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Loại khách hàng</label>
          <select class="custom-select" formControlName="cu_type">
            <option [disabled]="readOnly" *ngFor="let type of types" [value]="type.id">{{
              type.name
            }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Người phụ trách</label>
          <select class="custom-select" formControlName="cu_curator_id">
            <option [disabled]="readOnly" *ngFor="let staff of staffs" [value]="staff.sta_id">{{
              staff.sta_fullname
            }}</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="!readOnly">
      <div class="col-md-4">
        <div class="form-group">
          <label>Địa chỉ</label>
          <input class="form-control" formControlName="cu_address" placeholder="Nhập địa chỉ" />
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Tỉnh/Thành phố</label>
          <select
            class="custom-select"
            formControlName="cu_province"
            (change)="onChangeProvince($event)"
          >
            <option *ngFor="let province of provinces" [value]="province.name">{{
              province.name
            }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Quận/Huyện</label>
          <select
            class="custom-select"
            formControlName="cu_district"
            (change)="onChangeDistrict($event)"
          >
            <option *ngFor="let district of districts" [value]="district.name">{{
              district.name
            }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <label>Xã/Phường</label>
          <select class="custom-select" formControlName="cu_ward">
            <option *ngFor="let ward of wards" [value]="ward.name">{{ ward.name }}</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <button
          type="button"
          class="btn btn-danger"
          style="margin-top: 1.8rem;"
          (click)="onClickUpdateButton()"
        >
          <i class="mdi mdi-plus-circle mr-1"></i>{{ selectedAddress ? 'Cập nhật' : 'Thêm' }}
        </button>
      </div>
    </div>
    <div class="table-responsive border mb-2">
      <table class="table table-centered table-hover mb-0">
        <thead>
          <tr>
            <th>Địa chỉ chi tiết</th>
            <th>Xã/Phường</th>
            <th>Quận/Huyện</th>
            <th>Tỉnh/Thành phố</th>
            <th *ngIf="!readOnly">Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let address of listAddress" (click)="onClickAddress(address)">
            <td>
              <span
                class="fe-check-circle icon mr-2"
                *ngIf="
                  (address.sha_detail ? address.sha_detail + ', ' : '') +
                    address.sha_ward +
                    ', ' +
                    address.sha_district +
                    ', ' +
                    address.sha_province ===
                  selectedAddress
                "
              ></span>
              {{ address.sha_detail }}
            </td>
            <td>
              {{ address.sha_ward }}
            </td>
            <td>
              {{ address.sha_district }}
            </td>
            <td>
              {{ address.sha_province }}
            </td>
            <td *ngIf="!readOnly">
              <a class="action-icon table-button-link" (click)="onUpdateAddress(address)">
                <i class="mdi mdi-square-edit-outline"></i
              ></a>
              <a class="action-icon table-button-link" (click)="onRemoveAddress(address)">
                <i class="mdi mdi-delete"></i
              ></a>
            </td>
          </tr>
          <tr *ngIf="listAddress?.length === 0">
            <td colspan="6">Không có dữ liệu địa chỉ</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Ghi chú</label>
          <textarea
            rows="3"
            [readonly]="readOnly"
            formControlName="cu_note"
            class="form-control"
          ></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary" (click)="onNextClick()">
      Tiếp theo
    </button>
  </div>
</ng-template>

<ng-template #Tab2>
  <ngb-progressbar
    type="success"
    [value]="66.67"
    [striped]="true"
    [animated]="true"
  ></ngb-progressbar>
  <div class="row mt-2" *ngIf="!isView">
    <div class="col-md-8">
      <form class="form-inline">
        <div class="form-group">
          <select
            class="custom-select"
            name="searchProduct"
            [(ngModel)]="searchProduct"
            (change)="changeDatalistProduct($event)"
          >
            <option value="">Chọn sản phẩm</option>
            <option *ngFor="let product of products" [value]="product.pu_id">{{
              product.pu_name
            }}</option>
          </select>
        </div>
      </form>
    </div>
  </div>
  <h5 class="mb-3 text-uppercase bg-light p-2">
    <i class="mdi mdi-account-circle mr-1"></i> Thông tin đơn hàng
  </h5>
  <div class="table-responsive border mb-2" style="max-height: 250px;">
    <table class="table table-centered table-hover mb-0">
      <thead>
        <tr>
          <th>Tên sản phẩm</th>
          <th>Số lượng</th>
          <th>Đơn giá</th>
          <th>Giảm giá (%)</th>
          <th>Tổng</th>
          <th *ngIf="!isView">Thao tác</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of listProduct">
          <td>
            {{ product.pu_name }}
          </td>
          <td>
            <input
              class="form-control"
              [readonly]="isView"
              style="max-width: 100px;"
              type="number"
              [max]="product.max_quantity"
              [value]="product.op_quantity"
              (change)="onChangeQuantity($event, product)"
            />
          </td>
          <td>
            {{ product.pu_sale_price }}
          </td>
          <td>
            <input
              class="form-control"
              [readonly]="isView"
              style="max-width: 100px;"
              type="number"
              [max]="100"
              [value]="product.op_discount"
              (change)="onChangeDiscount($event, product)"
            />
          </td>
          <td>{{ product.op_total_value }}</td>
          <td *ngIf="!isView">
            <a class="action-icon table-button-link" (click)="onRemoveProduct(product)">
              <i class="mdi mdi-delete"></i
            ></a>
          </td>
        </tr>
        <tr *ngIf="listProduct.length === 0">
          <td colspan="6">Không có dữ liệu địa chỉ</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div [formGroup]="formOrder">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-3 text-right" style="line-height: 2.5;">
        Khuyến mãi (%)
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <input
            type="number"
            max="100"
            [readonly]="isView"
            class="form-control"
            (change)="sumListProduct()"
            formControlName="cuo_discount"
            placeholder="Nhập khuyến mãi"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-3 text-right" style="line-height: 2.5;">
        Phí vận chuyển
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <input
            [readonly]="isView"
            class="form-control"
            (change)="sumListProduct()"
            formControlName="cuo_ship_tax"
            placeholder="Nhập phí vận chuyển"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3 text-right" style="font-size: 1.2rem;">
      Tổng đơn hàng
    </div>
  </div>
  <div class="row mb-1">
    <div class="col-md-9"></div>
    <div class="col-md-3 text-right" style="font-size: 1.5rem; font-weight: 700;">
      {{ orderTotal | currency: 'VND' }}
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <button (click)="onBackClick()" class="btn btn-primary">
      Quay lại
    </button>
    <button type="button" class="btn btn-primary" (click)="onNextClick()">
      Tiếp theo
    </button>
  </div>
</ng-template>

<ng-template #Tab3>
  <ngb-progressbar
    type="success"
    [value]="100"
    [striped]="true"
    [animated]="true"
  ></ngb-progressbar>
  <!-- <div class="row mt-2" style="font-size: 1.1rem;">
    <div class="col-md-8"></div>
    <div class="col-md-2 text-right">Mã hóa đơn</div>
    <div class="col-md-2 text-right" style="font-weight: bold;">
      DH0814
    </div>
  </div> -->
  <div class="row" style="font-size: 1.1rem;">
    <div class="col-md-8"></div>
    <div class="col-md-2 text-right">Ngày tạo</div>
    <div class="col-md-2 text-right" style="font-weight: bold;">
      {{ createdDate | date: 'dd/MM/yyyy' }}
    </div>
  </div>
  <div class="row" style="font-size: 1.1rem;">
    <div class="col-md-8"></div>
    <div class="col-md-2 text-right">Trạng thái</div>
    <div class="col-md-2 text-right" style="font-weight: bold;">
      Chưa hoàn thành
    </div>
  </div>
  <div class="text-right mt-2" style="font-size: 1.1rem;">
    Địa chỉ giao hàng
  </div>
  <div class="text-right">
    {{ formCustomer.value['cu_fullname'] }}
  </div>
  <div class="text-right">
    {{ formCustomer.value['cu_mobile'] }} / {{ formCustomer.value['cu_email'] }}
  </div>
  <div class="text-right">
    {{ selectedAddress }}
  </div>
  <div class="text-right mt-2" style="font-size: 1.1rem;">
    Chi tiết đơn hàng
  </div>
  <div class="table-responsive border mb-2">
    <table class="table table-centered table-hover mb-0">
      <thead>
        <tr>
          <th>Tên sản phẩm</th>
          <th>Số lượng</th>
          <th>Đơn giá</th>
          <th>Giảm giá (%)</th>
          <th>Tổng</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of listProduct">
          <td>
            {{ product.pu_name }}
          </td>
          <td>
            {{ product.op_quantity }}
          </td>
          <td>
            {{ product.pu_sale_price }}
          </td>
          <td>
            {{ product.op_discount }}
          </td>
          <td>{{ product.op_total_value }}</td>
        </tr>
        <tr *ngIf="listProduct.length === 0">
          <td colspan="6">Không có dữ liệu địa chỉ</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row" style="font-size: 1.1rem;">
    <div class="col-md-8"></div>
    <div class="col-md-2 text-right">Khuyến mãi</div>
    <div class="col-md-2" style="font-weight: bold;">{{ formOrder.value['cuo_discount'] }}%</div>
  </div>
  <div class="row" style="font-size: 1.1rem;">
    <div class="col-md-8"></div>
    <div class="col-md-2 text-right">Phí vận chuyển</div>
    <div class="col-md-2" style="font-weight: bold;">{{ formOrder.value['cuo_ship_tax'] }} VNĐ</div>
  </div>
  <div class="row mb-2">
    <div class="col-md-8">
      <div>Ghi chú</div>
      <div>{{ formCustomer.value['cu_note'] }}</div>
    </div>
    <div class="col-md-2 text-right" style="font-size: 1.1rem; color: inherit; font-weight: normal">
      Tổng đơn hàng
    </div>
    <div class="col-md-2" style="font-weight: bold; font-size: 1.4rem; color: inherit;">
      {{ orderTotal | currency: 'VND' }}
    </div>

    <!-- <div class="col-md-6 text-right" style="font-size: 1.4rem; font-weight: bold;">
      <span class="mr-2" style="font-size: 1.1rem; color: inherit; font-weight: normal;"
        >Tổng đơn hàng</span
      >{{ orderTotal | currency: 'VND' }}
    </div> -->
  </div>
  <div class="d-flex justify-content-end">
    <button (click)="onPrintClick()" class="btn btn-primary" style="min-width: 80px;">
      <i class="mdi mdi-printer"></i>
      In
    </button>
    <button
      [disabled]="isView"
      class="btn btn-success ml-2"
      (click)="onSubmitClick()"
      style="min-width: 80px;"
    >
      Gửi
    </button>
  </div>
</ng-template>
