<div class="container-fluid">
  <app-page-title
    title="Sản phẩm"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <div [ngClass]="selectedProduct ? 'col-xl-8' : 'col-xl'">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-6">
              <form class="form-inline">
                <div class="form-group mb-2">
                  <label class="sr-only">Search</label>
                  <input
                    class="form-control"
                    name="search"
                    placeholder="Tìm kiếm..."
                    [(ngModel)]="term"
                  />
                </div>

                <select class="custom-select">
                  <option selected>Loại sản phẩm</option>
                  <option value="1">Active</option>
                  <option value="2">Blocked</option>
                </select>
              </form>
            </div>
            <div class="col-sm-6">
              <div class="text-sm-right">
                <button type="button" class="btn btn-info mb-2 mr-1">
                  Nhập
                </button>
                <button type="button" class="btn btn-info mb-2 mr-1">
                  Xuất
                </button>
                <a
                  class="btn btn-success mb-2 button-link"
                  (click)="openProductModal()"
                  ><i class="mdi mdi-plus-circle mr-1"></i> Thêm mới</a
                >
              </div>
            </div>
            <!-- end col-->
          </div>

          <div class="table-responsive">
            <table class="table table-centered table-hover mb-0">
              <thead>
                <tr>
                  <th>MSP</th>
                  <th>Tên sản phẩm</th>
                  <th>Số lượng</th>
                  <th>Giá nhập</th>
                  <th>Giá bán</th>
                  <th>Đơn vị</th>
                  <th>Loại sản phẩm</th>
                  <th>Nhà cung cấp</th>
                  <th>Thuế</th>
                  <th>Ngày hết hạn</th>
                  <th>Cân nặng</th>
                  <th>Ngày tạo</th>
                  <th style="width: 82px;">Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let product of paginatedProductData | filter: term"
                  (click)="onClickProduct(product)"
                  [ngClass]="{
                    'is-selected':
                      product.product_id === selectedProduct?.product_id
                  }"
                >
                  <td>
                    {{ product.product_id }}
                  </td>
                  <td>
                    {{ product.product_name }}
                  </td>
                  <td>
                    {{ product.quantity }}
                  </td>
                  <td>
                    {{ product.in_price }}
                  </td>
                  <td>
                    {{ product.out_price }}
                  </td>
                  <td>
                    {{ product.unit }}
                  </td>
                  <td>
                    {{ product.product_type }}
                  </td>
                  <td>
                    {{ product.vendor }}
                  </td>
                  <td>
                    {{ product.tax }}
                  </td>
                  <td>
                    {{ product.expired_date }}
                  </td>
                  <td>
                    {{ product.weight }}
                  </td>
                  <td>
                    {{ product.created_date }}
                  </td>
                  <td>
                    <a
                      class="action-icon table-button-link"
                      (click)="openProductModal(product)"
                    >
                      <i class="mdi mdi-square-edit-outline"></i
                    ></a>
                    <a
                      class="action-icon table-button-link"
                      (click)="openConfirmModal()"
                    >
                      <i class="mdi mdi-delete"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ul class="pagination pagination-rounded justify-content-end my-2">
            <ngb-pagination
              (pageChange)="onPageChange($event)"
              [pageSize]="pageSize"
              [(page)]="page"
              [collectionSize]="totalSize"
            ></ngb-pagination>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-4" *ngIf="selectedProduct">
      <div class="card-box">
        <div class="media mb-3">
          <img
            class="d-flex mr-3 rounded-circle avatar-lg"
            src="assets/images/users/user-8.jpg"
            alt="Generic placeholder image"
          />
          <div class="media-body">
            <h4 class="mt-0 mb-1">{{ selectedProduct.product_name }}</h4>
            <p class="text-muted">
              Ngày cập nhật: 01/01/2019
            </p>
          </div>
        </div>
        <ngb-tabset>
          <ngb-tab title="Mô tả">
            <ng-template ngbTabContent>
              <app-description-tab></app-description-tab>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Lịch sử mua">
            <ng-template ngbTabContent>
              <app-purchase-history-tab></app-purchase-history-tab>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
      <!-- end card-box-->
    </div>
  </div>
</div>
