<app-main-container>
  <div top class="card-body" style="height: 100%;">
    <div class="row">
      <div class="col-xl-6 mb-1">
        <form class="form-inline">
          <div class="form-group mr-1 ml-1">
            <input
              class="form-control"
              name="textSearch"
              placeholder="Tìm kiếm..."
              [(ngModel)]="textSearch"
              (input)="onChangeFilter()"
            />
          </div>
          <select
            class="custom-select mr-1"
            name="category"
            [(ngModel)]="categorySearch"
            (change)="onChangeFilter()"
          >
            <option value="">Loại sản phẩm</option>
            <option *ngFor="let category of categories" [value]="category.id">{{
              category.name
            }}</option>
          </select>
          <div class="input-group clockpicker mr-1">
            <input
              ngbDatepicker
              readonly="true"
              class="form-control"
              placeholder="yyyy-mm-dd"
              #from="ngbDatepicker"
              name="from"
              [maxDate]="toDate"
              [(ngModel)]="fromDate"
              (dateSelect)="onChangeFilter()"
            />
            <div class="input-group-append" (click)="from.toggle()">
              <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
            </div>
          </div>
          <div class="input-group clockpicker">
            <input
              ngbDatepicker
              readonly="true"
              class="form-control"
              placeholder="yyyy-mm-dd"
              #to="ngbDatepicker"
              name="to"
              [minDate]="fromDate"
              [(ngModel)]="toDate"
              (dateSelect)="onChangeFilter()"
            />
            <div class="input-group-append" (click)="to.toggle()">
              <span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
            </div>
          </div>
        </form>
      </div>
      <div class="col-xl-6">
        <div class="text-sm-right">
          <button type="button" class="btn btn-info mr-1">
            Nhập
          </button>
          <button type="button" class="btn btn-info mr-1" (click)="exportProduct()">
            Xuất
          </button>
          <a class="btn btn-success mr-1 button-link" (click)="onRouteDetail()"> Thêm mới</a>
          <a
            class="btn btn-primary mr-1 button-link"
            [ngClass]="selectedProduct ? '' : 'disabled'"
            (click)="onRouteDetail(selectedProduct)"
          >
            Xem & Sửa</a
          >
          <a
            class="btn btn-danger mr-1 button-link"
            [ngClass]="selectedProduct ? '' : 'disabled'"
            (click)="openConfirmModal(selectedProduct)"
          >
            Xóa</a
          >
        </div>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-centered table-hover mb-0">
        <thead>
          <tr>
            <th>STT</th>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>Số lượng</th>
            <th>Giá nhập</th>
            <th>Giá bán</th>
            <th>Đơn vị</th>
            <th>Loại sản phẩm</th>
            <th>Nhà cung cấp</th>
            <th>Thuế</th>
            <th>Ngày hết hạn</th>
            <th>Khối lượng</th>
            <th>Ngày tạo</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let product of products; let i = index"
            (click)="onClickProduct(product)"
            [ngClass]="{
              'is-selected': product.pu_id === selectedProduct?.pu_id
            }"
          >
            <td>{{ i + 1 }}</td>
            <td>
              {{ product.pu_code }}
            </td>
            <td>
              <span
                ><img
                  class="rounded-circle avatar-sm"
                  [src]="'http://27.72.147.222:1230' + product.pu_thumbnail"
                  onerror="this.src='/assets/images/users/user-1.jpg';"
                  alt="Avatar"
                  (click)="selectedProduct = product; file.click()"
                  style="cursor: pointer;" />
                <input
                  type="file"
                  accept="image/*"
                  #file
                  style="display: none;"
                  (change)="readURL($event)"
              /></span>
              {{ product.pu_name }}
            </td>
            <td>
              {{ product.pu_quantity }}
            </td>
            <td>
              {{ product.pu_buy_price }}
            </td>
            <td>
              {{ product.pu_sale_price }}
            </td>
            <td>
              {{ product.pu_unit_name }}
            </td>
            <td>
              {{ product.product_category_name }}
            </td>
            <td>
              {{ product.provider_name }}
            </td>
            <td>
              {{ product.pu_tax }}
            </td>
            <td>
              {{ product.pu_expired_date | date: 'dd/MM/yyyy' }}
            </td>
            <td>
              {{ product.pu_weight }}
            </td>
            <td>
              {{ product.pu_create_date | date: 'dd/MM/yyyy' }}
            </td>
          </tr>
          <tr *ngIf="products?.length === 0">
            <td colspan="13">Không có dữ liệu sản phẩm</td>
          </tr>
        </tbody>
      </table>
    </div>
    <ul class="pagination pagination-rounded justify-content-end my-3">
      <ngb-pagination
        (pageChange)="onPageChange($event)"
        [pageSize]="pageSize"
        [(page)]="page"
        [collectionSize]="totalSize"
      ></ngb-pagination>
    </ul>
  </div>
  <div bottom style="height: 100%;">
    <ngb-tabset class="nav-bordered">
      <ngb-tab title="Lịch sử mua">
        <ng-template ngbTabContent>
          <app-purchase-history-tab
            [purchaseHistory]="selectedProduct?.list_orp_history"
          ></app-purchase-history-tab>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>
  </div>
</app-main-container>
