<div class="modal-header bg-dark">
  <h4 class="modal-title text-white">Thêm mới chiến dịch SMS</h4>
  <button type="button" class="close text-white" aria-label="Close" (click)="onClickCancel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-3">
  <div class="text-left">
    <form>
      <div class="form-row">
        <div class="form-group row mb-3" style="width: 100%">
          <label class="col-2 col-form-label">Đến</label>
          <div class="col-10">
            <div class="input-group" style="margin-bottom: 1rem;">
              <ng-select
                style="width: 100%;"
                name="customerGroups"
                [items]="customerGroups"
                [multiple]="true"
                bindLabel="cg_name"
                [closeOnSelect]="false"
                bindValue="cg_id"
                [(ngModel)]="selectedCustomerGroups"
              >
              </ng-select>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group row mb-3" style="width: 100%">
          <label class="col-2 col-form-label">Chọn</label>
          <div class="col-10">
            <button type="button" class="btn btn-xs btn-primary mr-1" (click)="openSmsModal()">
              Mẫu SMS
            </button>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group row mb-3" style="width: 100%">
          <label class="col-2 col-form-label">Nội dung <span>(*)</span></label>
          <div class="col-10">
            <textarea
              rows="10"
              style="width: 100%;"
              readonly
              [value]="selectedSms?.smt_content"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group row mb-3" style="width: 100%">
          <label class="col-2 col-form-label"></label>
          <div class="col-10">
            (Nội dung ghi bằng tiếng Việt không dấu)
          </div>
        </div>
      </div>

      <div class="text-right">
        <button type="button" class="btn btn-danger" (click)="onClickCancel()">
          Hủy
        </button>
        <button type="button" class="btn btn-success ml-1" (click)="onClickSubmit()">
          Gửi SMS
        </button>
      </div>
    </form>
  </div>
</div>
