<div class="container-fluid">
  <app-page-title
    title="Nhân viên"
    [breadcrumbItems]="breadCrumbItems"
  ></app-page-title>

  <div class="row">
    <div [ngClass]="selectedStaff ? 'col-xl-8' : 'col-xl'">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <form class="form-inline">
                <div class="form-group mb-2">
                  <label class="sr-only">Search</label>
                  <input
                    class="form-control"
                    name="search"
                    placeholder="Search..."
                    [(ngModel)]="term"
                  />
                </div>

                <select class="custom-select">
                  <option selected>Trạng thái</option>
                  <option value="1">Active</option>
                  <option value="2">Blocked</option>
                </select>
              </form>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-right">
                <button type="button" class="btn btn-info mb-2 mr-1">
                  Nhập
                </button>
                <button type="button" class="btn btn-info mb-2 mr-1">
                  Xuất
                </button>
                <a
                  class="btn btn-success mb-2 button-link"
                  (click)="openStaffModal()"
                  ><i class="mdi mdi-plus-circle mr-1"></i> Thêm mới</a
                >
              </div>
            </div>
            <!-- end col-->
          </div>

          <div class="table-responsive">
            <table class="table table-centered table-hover mb-0">
              <thead>
                <tr>
                  <th>MNV</th>
                  <th>Tên đăng nhập</th>
                  <th>Số điện thoại</th>
                  <th>Email</th>
                  <th>Chức vụ</th>

                  <th>Trạng thái</th>
                  <th style="width: 82px;">Thao tác</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let staff of staffs | filter: term"
                  (click)="onClickStaff(staff)"
                  [ngClass]="{
                    'is-selected': staff.sta_id === selectedStaff?.sta_id
                  }"
                >
                  <td>
                    {{ staff.sta_code }}
                  </td>
                  <td>
                    {{ staff.sta_username }}
                  </td>
                  <td>
                    {{ staff.sta_mobile }}
                  </td>
                  <td>
                    {{ staff.sta_email }}
                  </td>
                  <td>
                    {{ staff.position_name }}
                  </td>

                  <td>
                    <span
                      [ngClass]="
                        staff.sta_status === 1
                          ? 'badge badge-success'
                          : 'badge badge-danger'
                      "
                      >{{ staff.sta_status === 1 ? 'Kích hoạt' : 'Khóa' }}
                    </span>
                  </td>
                  <td>
                    <a
                      class="action-icon table-button-link"
                      (click)="openStaffModal(staff)"
                    >
                      <i class="mdi mdi-square-edit-outline"></i
                    ></a>
                    <a
                      class="action-icon table-button-link"
                      (click)="openConfirmModal(staff)"
                    >
                      <i class="mdi mdi-delete"></i
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ul class="pagination pagination-rounded justify-content-end my-2">
            <ngb-pagination
              (pageChange)="onPageChange($event)"
              [pageSize]="pageSize"
              [(page)]="page"
              [collectionSize]="totalSize"
            ></ngb-pagination>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xl-4" *ngIf="selectedStaff">
      <div class="card-box">
        <div class="media mb-3">
          <img
            class="d-flex mr-3 rounded-circle avatar-lg"
            src="assets/images/users/user-8.jpg"
            alt="Generic placeholder image"
          />
          <div class="media-body">
            <h4 class="mt-0 mb-1">{{ selectedStaff?.sta_fullname }}</h4>
            <p class="text-muted">
              QA
            </p>
            <p class="text-muted">
              {{ selectedStaff?.sta_mobile }}
            </p>
            <p class="text-muted">
              {{ selectedStaff?.sta_email }}
            </p>
          </div>
        </div>

        <ngb-tabset>
          <ngb-tab title="Thông tin cá nhân">
            <ng-template ngbTabContent>
              <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Lịch sử chăm sóc khách hàng">
            <ng-template ngbTabContent>
              <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>

        <ng-template #TabContent>
          <div class="">
            <h4 class="font-13 text-muted text-uppercase">About Me :</h4>
            <p class="mb-3">
              {{ selectedStaff.sta_aboutme }}
            </p>

            <h4 class="font-13 text-muted text-uppercase mb-1">
              NGÀY SINH
            </h4>
            <p class="mb-3">
              {{ selectedStaff.sta_birthday | date: 'MMMM dd, yyyy' }}
            </p>

            <h4 class="font-13 text-muted text-uppercase mb-1">PHÒNG BAN</h4>
            <p class="mb-3">{{ selectedStaff.department_name }}</p>

            <h4 class="font-13 text-muted text-uppercase mb-1">NGÀY TẠO</h4>
            <p class="mb-3">
              {{ selectedStaff.sta_created_date | date: 'dd/MM/yyyy' }}
            </p>

            <h4 class="font-13 text-muted text-uppercase mb-1">ĐỊA CHỈ</h4>
            <p class="mb-0">{{ selectedStaff.sta_address }}</p>
          </div>
        </ng-template>
      </div>
      <!-- end card-box-->
    </div>
  </div>
</div>
