<div class="modal-header bg-dark">
  <h4 class="modal-title text-white">Loại sản phẩm</h4>
  <button
    type="button"
    class="close text-white"
    aria-label="Close"
    (click)="onClickCancel()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body p-3">
  <div class="table-responsive">
    <table class="table table-centered table-hover mb-0">
      <thead>
        <tr>
          <th>STT</th>
          <th>Loại sản phẩm</th>
          <th>Mô tả</th>
          <th>Trạng thái</th>
          <th>Ngày tạo</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let productType of productTypes; let i = index"
          (click)="onClickProductType(productType)"
          [ngClass]="{
            'is-selected':
              productType.product_type_id ===
              selectedProductType?.product_type_id
          }"
        >
          <td>
            {{ i + 1 }}
          </td>
          <td>
            {{ productType.product_type_id }}
          </td>
          <td>
            {{ productType.product_type_name }}
          </td>
          <td>
            {{ productType.product_type_status }}
          </td>
          <td>
            {{ productType.created_date }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-right mt-3">
    <button
      [disabled]="!selectedProductType"
      class="btn btn-primary"
      (click)="onClickChoose()"
    >
      Chọn
    </button>
    <button class="btn btn-success ml-1" (click)="openProductTypeModal()">
      Thêm
    </button>
    <button
      [disabled]="!selectedProductType"
      class="btn btn-warning ml-1"
      (click)="openProductTypeModal(productType)"
    >
      Sửa
    </button>
    <button
      [disabled]="!selectedProductType"
      class="btn btn-danger ml-1"
      (click)="openConfirmModal()"
    >
      Xóa
    </button>
    <button class="btn btn-danger ml-1" (click)="onClickCancel()">
      Đóng
    </button>
  </div>
</div>
