<div class="row justify-content-end">
  <a
    class="btn btn-success mb-1 mr-1 button-link"
    [ngClass]="staffId ? '' : 'disabled'"
    (click)="openRelativeModal()"
  >
    Thêm mới</a
  >
  <a
    class="btn btn-primary mb-1 mr-1 button-link"
    [ngClass]="selectedRelative ? '' : 'disabled'"
    (click)="openRelativeModal(selectedRelative)"
    >Cập nhật</a
  >
  <a
    class="btn btn-danger mb-1 button-link"
    [ngClass]="selectedRelative ? '' : 'disabled'"
    (click)="openConfirmModal(selectedRelative)"
  >
    Xóa</a
  >
</div>
<div class="table-responsive">
  <table class="table table-centered table-hover mb-0">
    <thead>
      <tr>
        <th>STT</th>
        <th>Tên vật tư</th>
        <th>Đơn vị</th>
        <th>Số lượng-option</th>
        <th>Ngày giao</th>
        <th>Người giao</th>
        <th>Trạng thái</th>
        <th>Ghi chú</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let device of listDevice; let i = index"
        (click)="onClickRelative(device)"
        [ngClass]="{
          'is-selected': device.rels_id === selectedRelative?.rels_id
        }"
      >
        <td>
          {{ i + 1 }}
        </td>
        <td>
          {{ device.rels_fullname }}
        </td>
        <td>
          {{ device.rels_relatives }}
        </td>
        <td>
          {{ device.rels_phone }}
        </td>
        <td>
          {{ device.rels_address }}
        </td>
        <td>
          {{ device.rels_relatives }}
        </td>
        <td>
          {{ device.rels_phone }}
        </td>
        <td>
          {{ device.rels_address }}
        </td>
      </tr>
      <tr *ngIf="!listDevice || listDevice.length === 0">
        <td colspan="5">Không có dữ liệu gia đình</td>
      </tr>
    </tbody>
  </table>
</div>
